[2014-08-14 09:59] yvaucher opened #35 "Missing labels *needs fixing* and *needs review*"
Read https://github.com/OCA/maintainers-tools/issues/29 to know more about it
- [x] create work in progress
- [x] create needs review
- [x] create needs fixing

[2014-08-14 10:48] nbessi commented on #35
on hold != work in progess

[2014-08-14 11:28] yvaucher commented on #35
Then work in progress is still missing

[2014-08-14 13:55] #35 closed, assigned to nobody

[2014-08-19 15:32] nbessi opened #38 "master 8.0 is not up to date"

[2014-08-26 14:38] ecino opened #40 "7.0 from tools import not working"
I have an issue with branch 7.0, the following import in files l10n_ch_base_bank/bank.py and l10n_ch_dta/wizard/create_dta.py is not working :

[code]

Should it be replaced by

[code]

[2014-08-26 15:07] #40 closed, assigned to nobody

[2014-09-04 21:41] thomich commented on #38
is there any plan, at which time 7.0 modules are migrated to 8.0?

[2014-09-09 17:17] yvaucher commented on #38
@thomich no plan yet to migrate them to 8.0

You are welcome to contribute

[2014-09-11 09:02] loicbaechler opened #42 "Print Swiss BVR/ESR problem"
Hi,

Everytime we are trying to print the BVR from "customer invoices" on our Odoo 7 installation we got the following error :

[code]

List of installed modules:
Switzerland - Bank Payment File (DTA)   l10n_ch_dta 7.0.1.0
Switzerland - Payment Slip (BVR/ESR)    l10n_ch_payment_slip    7.0.1.2
Financial Reports - Webkit          account_financial_report_webkit 7.0.1.0.2
Switzerland - Accounting

[2014-09-11 15:22] yvaucher opened #43 "Uncatched error - If no adherent number is set on partner bank"
When invoice.partner_bank_id.bvr_adherent_num is False

[code]

This would occure if l10n_ch_payment_slip is installed in an empty database. Missing dependancy ?

[2014-09-11 15:34] yvaucher opened #44 "Cannot see bank BVR options in bank view form"
Just installed l10n_ch_payment_slip and bvr_adherent_num is not visible in bank form.

[2014-09-11 15:37] yvaucher commented on #42
Thanks for reporting

Which version of wkhtmltopdf do you use ?

[2014-09-11 16:01] open-net-sarl commented on #44
Hello,
Did you check that the type of bank account is 'BVR' ?

[2014-09-12 08:02] loicbaechler commented on #42
I use the version 0.12.0

[2014-09-12 08:43] yvaucher commented on #44
@jaeberhard This is a note to myself as there was an issue when installing it from github fields_view_get output was correct but nothing was changing dynamically in the view. I must check this with a newer version of Odoo 7.0

[2014-09-12 10:32] #44 closed, assigned to nobody

[2014-09-16 09:57] mdietrichc2c commented on #42
Hello Loic,
is the wkhtmltopdf path set correctly in Settings -> Technical -> Parameters -> System Parameters, variable "webkit_path"? Is it using the i386 or the amd64 library?

Or are you using the one present in /usr/bin/wkhtmltopdf ?

[2014-10-29 09:20] #38 closed, assigned to nobody

[2014-10-29 09:59] vrenaville opened #55 "Company bank account in invoice"
Hello,

On supplier invoice I can't select a bank account from my parent company (commercial_partner_id)
so for invoice send from a contact form a company or a sub company, I can't set the bank account.

see my PR #54

Thanks

[2014-10-31 10:00] #55 closed, assigned to nobody

[2014-11-05 14:46] soriyath commented on #42
Hi there,

I have the same issue. Tried with the package supplied by apt-get, as well as the ones supplied by wkhtmltopdf (version 0.9.9 and 0.12.1, 64 bits). I added the key webkit_path in system parameters, with the value /usr/bin/ (i copied the supplied binaries from /usr/local/bin/).

I still have the same issue.

[2014-11-07 09:45] nbessi commented on #42
Hello,

Without acces to your installation debug will probably not be possible

Regards
Nicolas

[2014-11-12 13:22] thomich commented on #38
Hey hey....
we have made a migrated version for Odoo 8 for:
l10n_ch_base_bank and l10n_ch_payment_slip
https://bitbucket.org/thomi/odoo-tools-8.0/src

Maybe we can push it to OCA/l10n-switzerland

[2014-11-12 13:50] nbessi commented on #38
@thomich Nice of you to propose  the work.

The port of the localization was planed on community list.
There already is a PR for base_bank and DTA.  Account_payment_slip is currently ported to New API and QWeb report.

It is a shame that your fork was not more visible.

The other addons are also on the go, please refer to community mailing list:
https://lists.launchpad.net/openerp-community/msg069

[2014-11-12 14:01] thomich commented on #38
Sorry for confusion or feeling we hide our work, but we have customers that are needing it.
My idea was to finish migration and tests and then post here to find a way to push into OCA/l10n_switzerland...

Was not my idea to hide it.. sorry.. ;)

We migrated the report also to Qweb, but not to new API, cause we only migrated those two modules, which are independent from the others...

Cheers
Thomas

[2014-11-13 10:28] diezcode opened #58 "Where I can find the ESR and BVR in Odoo v 7?"
I have installed the modul but where I can find the ESR and BVR in odoo?

[2014-11-13 10:45] #58 closed, assigned to nobody

[2014-11-14 12:31] nbessi opened #60 "test are missing on base bank on v8"

[2014-11-28 08:27] fclementic2c opened #68 "[8.0] Cannot install l10n_ch_payslip with 8ocb code"
here is the traceback:

Traceback (most recent call last):
  File "/home/fclementi/openerp-instances/8ocb/parts/server/openerp/http.py", line 508, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/fclementi/openerp-instances/8ocb/parts/server/openerp/http.py", line 526, in dispatch
    result = self._call_function(*_self.params)
  File "/home/fclem

[2014-11-28 14:45] nbessi commented on #68
Fixed in current PR

[2014-11-28 14:45] #68 closed, assigned to nbessi

[2014-12-03 16:24] #60 closed, assigned to nobody

[2014-12-10 13:03] guewen opened #71 "[8.0] DTA cannot be generated: TypeError: an integer is required"
When I generate a DTA, I get

[code]

The reason is that it calls `tr()` on all the values of `global_context_dict`.

[code]

`tr()` expect a string and `global_context_dict` contains various types of data as shown here:

[code]

[2014-12-15 09:20] #71 closed, assigned to guewen

[2014-12-19 16:18] nbessi opened #74 "Payroll configuration error"
Comment from @stevech091

Hello @open-net-sarl after my short test you have seen that you have configured AVS company contributor double of employ but I think is a mistake. Normally the company contributor are the same of employ (all my customer HR software have this configuration).

In your http://ur1.ca/ir5ou you talk about "Impôt à la source" in "montant fixè". Why? I think in better use some f

[2014-12-22 12:18] willArrive commented on #42
Hello,
I have some error after installing BVR module for Switzerland. I modified it for odoo v8. But I have an error when I want to print.
See the following attached document :

![image](https://cloud.githubusercontent.com/assets/8824817/5524866/c6d964cc-89dc-11e4-843b-734d4a651768.png)

Any help will be appreciated,
Séraphine

[2014-12-22 12:40] guewen commented on #42
Hello,

What do you mean by:

?

[2014-12-22 12:51] willArrive commented on #42
I change the code for odoo v8. And I installed it on my odoo v8. I see the BVR/BSR under Menu "PRINT".
But when I click it open the error window.

[2014-12-23 07:49] nbessi commented on #42
The new code for version 8 is availbabe here.

https://github.com/OCA/l10n-switzerland/pull/65

Nicolas

[2014-12-26 16:39] open-net-sarl commented on #74
Hi,
It's correct that, most of the time, we have the same amount as company contribution and employee contribution. And this is what does the module even if you may have the impression it doesn't.

Let me try to explain.
I have a 'BASIC' salary and I need to take 5,15% away, so I have the first rule, taking this amount away and I can print it in the payroll slip for the employee.
Now, I need to co

[2015-01-05 16:37] yvaucher commented on #74
cc @stevech091

[2015-01-13 08:04] vrenaville opened #78 "DTA file formating error"
The DTA file is refused by bank online service due to wrong date format

[2015-01-14 13:25] yvaucher commented on #78
Fixed by #79

[2015-01-14 13:25] #78 closed, assigned to nobody

[2015-01-15 15:09] tafaRU opened #80 "Report 'one_slip_per_page_from_invoice' raises a TypeError"
Impacted versions:
- https://github.com/OCA/l10n-switzerland/pull/65

Steps to reproduce:
1. install module 'l10n_ch_payment_slip from https://github.com/nbessi/l10n-switzerland/tree/new_payment_slip
2. set BVR data for the company
3. create a new customer invoice
4. print the 'Payment Slip' report

Current behavior:

this is the Traceback I got:

[code]

Casting `company.bvr_scan_line_font_size`

[2015-01-16 07:27] nbessi commented on #80
Hello,

I guess that is a change in version 2.7.0 we should change the type of
columns to int.

Regards

Nicolas

2015-01-15 16:09 GMT+01:00 Alex Comba notifications@github.com:

##

Nicolas Bessi
Senior ERP consultant
Business Solution technical manager

Camptocamp SA
PSE A
CH-1015 Lausanne

http://openerp.camptocamp.com

Direct:   +41 21 619 10 26
Office:   +41 21 619 10 10

[2015-01-16 09:56] tafaRU commented on #80
Hello @nbessi,

thanks a lot for your quick reply.

I updated pillow version to 2.7.0 but the error is always the same. This is the Traceback I got:

[code]

In addition, here https://github.com/python-pillow/Pillow/blob/master/PIL/ImageFont.py#L220 is written
`:param size: The requested size, in points.`

Let me know if I can create a PR that goes in this direction.

Thank you in advance.

[2015-01-16 10:56] nbessi commented on #80
Please proceed forward.

Thanks Nicolas

Nicolas

[2015-01-16 11:16] #80 closed, assigned to nobody

[2015-01-19 11:15] tafaRU opened #82 "l10ch_payment_slip: scan line must not contain whitespaces"
Impacted versions:
- https://github.com/OCA/l10n-switzerland/pull/65

Steps to reproduce:
1. install module 'l10n_ch_payment_slip from https://github.com/nbessi/l10n-switzerland/tree/new_payment_slip
2. create a new customer invoice
3. print the 'Payment Slip' report

Actually, scan line is using 'BVR/ESR Ref' as is, without remove whitespaces before according to https://www.postfinance.ch/binp/po

[2015-01-19 12:23] nbessi commented on #82
:+1: thanks for the patch

[2015-01-19 12:24] #82 closed, assigned to nobody

[2015-01-20 19:46] omacchioni opened #83 "res.bank should store the Branch ID"
the clearing number is not sufficient to identify a bank.

Cf the doc: http://www.six-interbank-clearing.com/dam/downloads/en/bc_bank_master/bc_records.pdf

"Together with the BC number the branch ID provides a conclusive key for
each entry. "

[2015-01-20 19:46] omacchioni opened #84 "bank.xml needs an update"
I guess the data is based on http://www.six-interbank-clearing.com/dam/downloads/bc-bank-master/bcbankenstamm. There has been new banks since them (some banks have been removed as well, but we need to keep them in odoo for consistency reasons).

I don't know where to find the script to generate the .xml file though.

[2015-01-21 07:28] nbessi commented on #84
Hello,

The file was updated in branch 8.0 of localisation.  It may be backported if needed.

Regards

Nicolas

[2015-01-21 07:48] nbessi commented on #83
Hello

We will add the field in branch 8.0. https://github.com/OCA/l10n-switzerland/pull/69/files#diff-11d61938e3d2f68acbe0bb0c258ccfe2R49

The branch 7.0 is now  under maintainance mode. We ll try not to alter data model.

Regards

[2015-01-21 09:58] yvaucher commented on #83
This has been merged in 8.0 thus I close this issue

https://github.com/OCA/l10n-switzerland/commit/f8eee86c32d1b89414b2d3bf5c874dc1a1a62dbc

[2015-01-21 09:58] #83 closed, assigned to nobody

[2015-01-21 10:10] #84 closed, assigned to nobody

[2015-01-21 10:10] #42 closed, assigned to nobody

[2015-01-21 10:10] #74 closed, assigned to nobody

[2015-01-22 13:23] diezcode opened #87 "Payment_Slip QWEB Templates?"
hi,
When I installed the payment_slip, I don't have any QWeb Templates of that. So I can generate a PDF but it's empty. I searched that in the Settings and i found this:
one_slip_per_page_from_invoice

This is the payment_slip temp. but it's empty with no Templates.
Why?

Thank you..

[2015-01-26 15:29] diezcode commented on #87
[code]

[2015-01-28 11:49] nbessi opened #89 "Extract payment slip initial position in a module"
To allows an easier position customization.

[2015-02-04 16:07] nbessi opened #93 "Missing test that validate full scan line"

[2015-02-13 10:12] nbessi commented on #87
Hello,

The renderer does not use Qweb.
The problem is in pure Python. Wich branch did you use ?

Regards

Nicolas

[2015-02-13 10:15] nbessi commented on #87
My guess is that we my add an `api.model` decorator in https://github.com/OCA/l10n-switzerland/blob/8.0/l10n_ch_payment_slip/payment_slip.py#L189

[2015-02-13 10:46] yvaucher commented on #87
@nbessi Yes it might be better to add `@api.multi` or `@api.model` (BTW it should be `@api.multi` in  case of `_compute_scan_line_list`) on each public method to stay compatible with old api.

[2015-02-13 14:26] diezcode commented on #87
I used the 8.0 branch and with the new version from today the error is the same there

[2015-02-13 14:56] nbessi commented on #87
@diezcode thanks can you also gives us the revision of odoo you use.

Regards

Nicolas

[2015-02-19 15:57] fclementic2c opened #102 "[v8.0] Field to type in the BVR number too small to make the full ref visible"
![image](https://cloud.githubusercontent.com/assets/5735158/6270165/47d79c2a-b858-11e4-8a38-e6b385c430ae.png)

[2015-02-23 14:00] diezcode commented on #87
I use debian odoo version 8.0-20150119

[2015-02-23 18:08] PCatinean opened #104 "l10n_ch_payment_slip OCRB font blurred in PIL generated slip"
The two modules (version 7 webkit and version 8 PIL) generate a different output even though same .ttf file is used

I have an example here showcasing the difference between the two versions:
![old_1](http://i.imgur.com/az1Nnlj.png)
![new_1](http://i.imgur.com/iI1lnXY.png)

![old_2](http://i.imgur.com/GrDQ3Du.png)
![new_2](http://i.imgur.com/xEKPWj1.png)

As you can see the PIL generated ones are

[2015-02-23 20:27] nbessi commented on #104
@PCatinean I should add a new render using reportlab this week.
It was in the roadmap as PIL generate heavier and blurrier PDF. The choice of the renderer will be available in the company.

Regards

Nicolas

[2015-02-23 20:38] PCatinean commented on #104
@nbessi let me know how I can contribute I would like to speed up the process if I can

[2015-02-24 13:45] diezcode commented on #87
what is now with this error : TypeError: get_account_number() takes at least 4 arguments (4 given)

[2015-02-24 14:45] nbessi commented on #87
There was an error with the function decorator.
This PR #105 should fix the problem

[2015-02-24 14:45] #87 closed, assigned to nobody

[2015-02-24 14:46] nbessi commented on #104
@PCatinean see #105 for a fix

[2015-02-24 15:17] PCatinean commented on #104
@nbessi thank you for the ping

I have uninstalled personal modules inheriting this, uninstalled/installed this version and then update all

It seems to be generating empty pdf's for me, maybe I'm doing something wrong

[2015-02-24 15:17] diezcode commented on #104
same here for me, empty pdf payment_slip

[2015-02-24 15:32] yvaucher commented on #104
@diezcode @PCatinean can you tell us which version of reportlab you are using? BTW it might be better to tell about it in PR #105

[2015-02-24 15:34] PCatinean commented on #104
@yvaucher mine is 3.0

[2015-02-24 15:34] nbessi commented on #104
@PCatinean is your invoice validated.
Draft invoice should not print anything

[2015-02-24 15:34] PCatinean commented on #104
@nbessi yes invoice is validated and has attached payment_slip objects

[2015-02-24 15:34] nbessi commented on #104
@PCatinean I just updated to latest it seems to work fine

[2015-02-24 15:47] diezcode commented on #104
what reportlab should be installed?
I use the newest reportlab version

[2015-02-24 15:55] nbessi commented on #104
Any should work form 2.4 to latest

[2015-02-24 15:56] nbessi commented on #104
Myabe there is a problem with ubuntu reportlab. Try install using pip and virtual env.
TrueType extention must be installed

[2015-02-24 16:12] nbessi commented on #104
I confirmed the problem comes from the reprotlab proposed with Ubuntu.

[2015-02-24 16:14] diezcode commented on #104
In my reportlab repository I don't have an font repository. How can i add fonts there? Can you give an zip ?

[2015-02-24 16:27] diezcode commented on #104
I have installed the newest version of reportlab but PDF is empty again. Ubuntu 14.04 python 2.7

[2015-02-24 16:29] PCatinean commented on #104
I uninstalled OS proposed library and installed through pip and got version 3.1.44 with python 2.6.7 and I still get empty pages

[2015-02-25 07:14] nbessi commented on #104
@PCatinean in reportlab doc they said only python 2.7 and 3  are fully supported. that also weird that you can run version 8.0 of odoo on python 2.6 as it uses dict comprehention

[2015-02-25 07:20] PCatinean commented on #104
@nbessi My apologies it is 2.7.6 not 2.6.7, I messed up.Maybe there is something else wrong in my instance but I tried both versions of reportlab to no avail, wish I knew how to debug this further...

[2015-02-25 07:23] nbessi commented on #104
@PCatinean @diezcode  if you run the code provided here http://stackoverflow.com/questions/23769845/why-does-reportlab-3-0-save-an-empty-pdf and it zou have an empty pdf that means that your reportlab setting is broken .   It seems that you need to install `apt-get install libfreetype6-dev` in Ubuntu to have font support required by OCRB

[2015-02-25 07:24] nbessi commented on #104
Basically if PIL compile with all image support it should work:
http://codeinthehole.com/writing/how-to-install-pil-on-64-bit-ubuntu-1204/

[2015-02-25 07:45] PCatinean commented on #104
@nbessi Indeed with the reportlab from the Ubuntu repository the test failed, I switched back to the pip one and the text came up in the small script even with this working, odoo restarted and l10n_ch_payment_slip upgraded it still generated two empty pages

I guess we have a mistery on our hands, feel free to join IRC if you are willing to pursue this and need faster feedback

[2015-02-25 08:58] diezcode commented on #104
Same here
I tested it with the latest debian Package again. I installed all and imported an database dump local. The emptry pdf File still coming.
When I try to download it like here:
![unbenannt](https://cloud.githubusercontent.com/assets/7522882/6367734/5f57197a-bcd6-11e4-8f3d-5e3c92a1358a.PNG)

I download not a pdf , I download some other file .
![unbe1nannt](https://cloud.githubusercontent.com

[2015-02-25 09:18] nbessi commented on #104
@diezcode can you attatch the PDF. I'm starting to wonder if it is not a viewer problem ?

[2015-02-25 09:32] nbessi commented on #104
@PCatinean @diezcode If you open the PDF I generate is it blank ?
http://filebin.ca/1sr4h7cf0RFT/one_slip_per_page_from_invoice2.pdf

[2015-02-25 09:41] diezcode commented on #104
no , I see the slip at the bottom of the pdf

this is my : http://filebin.ca/1sr7uwR0RO6t/one_slip_per_page_from_invoice3.pdf

[2015-02-25 10:06] diezcode commented on #104
what is with this?
![unbenaaaannt](https://cloud.githubusercontent.com/assets/7522882/6368580/42117cd6-bcde-11e4-9dfa-a97ea9debb2a.PNG)

![uasdsadanbenannt](https://cloud.githubusercontent.com/assets/7522882/6368587/536e17dc-bcde-11e4-8376-5c09c5b6f9dc.PNG)

[2015-02-25 10:32] PCatinean commented on #104
@nbessi I can see it both in the chrome pdf viewer as well as the standard ubuntu one

[2015-02-25 10:38] diezcode commented on #104
When I test it with another Database dump that comes from another server. It shows me like this on the same server that the other pdf is empty :
http://filebin.ca/1srOqujf8NKj/one_slip_per_page_from_invoice7.pdf

[2015-02-25 10:46] nbessi commented on #104
@diezcode I can read your pdf it is not empty

[2015-02-25 10:46] PCatinean commented on #104
Same

[2015-02-25 10:48] diezcode commented on #104
@nbessi  yes I know but it is not right, with white background.

[2015-02-25 10:48] PCatinean commented on #104
@diezcode that is an option you set from your company bvr settings, the boolean field insert background

[2015-02-25 10:51] nbessi commented on #104
@PCatinean @diezcode no special char in this pdf...

[2015-02-25 10:54] diezcode commented on #104
Problem solved, this was the problem:
![yyyyunbenannt](https://cloud.githubusercontent.com/assets/7522882/6369279/f73b58c4-bce4-11e4-8f5c-781ba32a0bff.PNG)

Because of this input the payment_slip has showed empty. I changed all to "0.00" and it works now

[2015-02-25 10:54] nbessi commented on #104
@PCatinean I know i'm sure that you have set bvr delta in company.
As we are in inch now they are all wrong

[2015-02-25 10:55] nbessi commented on #104
@PCatinean If you put all to 0 value it should be fine.

I must change the label

[2015-02-25 10:57] PCatinean commented on #104
@nbessi it seems diezcode nailed it, that was the root of the problem, all the coordinates were off because of the settings in the backend

[2015-02-25 10:58] nbessi commented on #104
Sooo stu***\*  bug as we have inch all values are far too big

[2015-02-25 11:02] #104 closed, assigned to nobody

[2015-02-25 11:21] ghost opened #106 "Domain is not correctly set in l10n_ch_scan_bvr version 7"
Hello,

In the module l10n_ch_scan_bvr, in the wizard.scan_bvr.py file the domain is not correctly set
when the function _construct_bvr_postal_in_chf is called.

This function:

![feature3](https://cloud.githubusercontent.com/assets/9008369/6369583/11652498-bce8-11e4-8cfc-d748914483b4.png)

always return 'bvrnumber': ''.

However, in the code we have:

![feature2](https://cloud.githubusercontent.c

[2015-02-25 12:12] nbessi commented on #106
@BT-csanchez the issue seems valid @vrenaville can you have a look please.

[2015-02-25 12:15] nbessi commented on #43
@yvaucher no it seems more related to a missing constraint in l10n_ch bank.py this use case should not be possible.

[2015-03-18 14:34] nbessi opened #114 "Add postal account checksum validation"
Courtesy of @florentx  https://gist.github.com/florentx/404d8fe2bd94a9189b7a#file-checksums-py

[2015-03-25 19:01] lsimonin opened #117 "BVR + Invoice in one PDF to be send by email"
When users want to send invoices by email, it is possible to bind only a single report.

In the case of ISR it is not possible to send the BVR bills because it would be able to join 2 report.

I propose to create a report that contains the invoice and the BVR (with background image) into a single PDF

[2015-03-31 08:04] ghost commented on #106
I proposed https://github.com/OCA/l10n-switzerland/pull/111 to solve it, is this ok?

[2015-04-01 19:43] mncoon opened #122 "Payment Slip (BVR/ESR) - Problems with output methodes - memory and disk"
## Module:

Switzerland - Payment Slip (BVR/ESR)
## Steps to recreate:
- tested on a test-database with test-data
- also tested with a clone of a customer-database
## Errors:

Merge Slips in Memory:
If Payment Slip is created from Invoice, the PDF is empty.

Merge Slips on Disk:
It raises the following error:
`Traceback (most recent call last):
  File "/opt/odoo/addons/report/controllers/main.py",

[2015-04-03 15:51] philhug commented on #122
I can reproduce the problem. It might be related to the error I receive when trying to manually create a BVR reference number:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 530, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 567, in dispatch

[2015-04-15 08:09] #106 closed, assigned to nobody

[2015-04-18 06:46] #117 closed, assigned to nobody

[2015-04-20 14:33] yvaucher commented on #117
@lsimonin  to answer this requirement, of sending multiple reports as one you could use base_report_assembler:
https://github.com/OCA/reporting-engine/blob/7.0/base_report_assembler/__openerp__.py

However it is only available in 7.0 for now.

[2015-04-20 19:50] lsimonin commented on #117
@yvaucher Thank you for response. Please see this : https://github.com/OCA/l10n-switzerland/pull/126

[2015-04-27 14:31] laurentmeuwly opened #130 "Message above the payment slip displayed in wrong language"
The message displayed above the payment slip is printed in the the user's language. But it must be printed in the partner's language.

[2015-05-20 08:23] hmartinet opened #133 "No bank list on res.partner.bank form from company form"
On branch 7.0 with `l10n_ch, l10n_ch_bank, l10n_ch_base_bank, l10n_ch_payment_slip` installed, there is no more bank selectable in the bank field of res.partner.bank form from company form (but there is banks imported by `l10n_ch_bank` in the `res_bank` table in database).
![bank](https://cloud.githubusercontent.com/assets/547774/7721784/a1642416-feda-11e4-93b6-e68107702b87.png)

[2015-05-20 08:26] open-net-sarl commented on #133
Hello,
Just type in the first letter of any bank name, and you will see the list coming

[2015-05-20 08:30] hmartinet commented on #133
Hello,

Oh ok I'm confused... I did not know that the behavior had changed... Thanks for your response.

Issue solved

[2015-05-20 08:30] #133 closed, assigned to nobody

[2015-06-12 14:42] #130 closed, assigned to nobody

[2015-07-16 18:17] bodi000 opened #152 "[6.1] l10n_ch_zip depends on better_zip"
Hello,
The rework of l10n_ch package includes a new l10n_ch_zip module. However, it depends on the old better_zip module, which is not present in l10n_switzerland.
Is it a wrong/old dependency, or else where can I find this module?

Thank you,
BS

[2015-07-24 13:17] nbessi commented on #152
better_zip should be available here: https://github.com/OCA/partner-contact/ but it seems it is not present in the repo. It is probably a collateral effect of the migration to github. A PR should be done to add the addons in version 6.1

[2015-07-24 13:19] nbessi commented on #122
@copmn can you give me details about your OS, hardware, python version and wkhtml2pdf command

[2015-07-24 13:20] #93 closed, assigned to nobody

[2015-07-24 13:20] #89 closed, assigned to nobody

[2015-07-24 13:20] nbessi opened #155 "Runbot 7.0 is broken"

[2015-07-24 13:22] nbessi commented on #43
@yvaucher any news on this one

[2015-07-24 13:22] open-net-sarl commented on #152
It's there: it has been renamed "base_location" ...

[2015-07-24 14:25] nbessi commented on #152
@open-net-sarl not for version 6.1

[2015-07-24 15:54] mncoon commented on #122
@nbessi I quickly tried to recreate this.

To answer your question:

[code]

I also tested again.
Merge in Memory: PDF is empty

Merge on Disk: receive this messages:

![screenshot-192 168 222 212 8069 2015-07-24 17-20-01](https://cloud.githubusercontent.com/assets/7815772/8877879/4984efa6-3228-11e5-95be-71abaa554498.png)

[code]

[code]

[code]

Hope this helps a little bit.

[2015-07-28 21:36] bodi000 commented on #152
Yes, I eventually found it... I agree with you that it would be better to
have it on hand, like in good old launchpad times :-)

Thank you,
B

[2015-08-13 10:35] yvaucher commented on #122
buff is defined here in for loop:

https://github.com/OCA/l10n-switzerland/blob/8.0/l10n_ch_payment_slip/report/reports_common.py#L70

Thus if there is not doc to loop on it will fail. In the try except which will try to close it.

I think buff should be declared outside of the loop.

[2015-08-13 10:44] yvaucher commented on #122
This won't fix the empty report but it will fix the stack trace:

https://github.com/OCA/l10n-switzerland/pull/158

[2015-09-17 06:55] prakashjain opened #164 "l10n_ch_payment_slip Module Payment Slip print issue."
In Windows, Odoo 8 Installedl10n_ch_payment_slip Module
https://apps.odoo.com/apps/modules/8.0/l10n_ch_payment_slip/

using the menu (Accounting --> Customers --> Customers Invoice --> Print --> Payment Slip while generation PDF or HTML Payment Slip report. It does not generate report either in html or pdf.

In the code QWEB  print payment slip Report Template "one_slip_per_page" is not found or n

[2015-09-30 09:02] ecino opened #165 "[8.0] Transaction ref in out_invoices not set ?"
I was wondering why out_invoices don't put the bvr_reference in the generated move_lines, is it normal ?

In https://github.com/OCA/l10n-switzerland/blob/8.0/l10n_ch_payment_slip/invoice.py#L133, we can read that `get_bvr_ref` method handles the out_invoices but this method was removed in version 8.0. Was it intended or not ?

[2015-09-30 09:31] ecino commented on #165
@yvaucher

[2015-10-05 12:48] yvaucher commented on #165
@ecino BVR reference is computed there. `get_bvr_ref` was removed at https://github.com/OCA/l10n-switzerland/commit/24a9301a02f2eb56d43578e74c8638dee20d7c29

All the logic went in PaymentSlip model.

The field is now `transaction_ref`and not `bvr_reference`

[2015-10-05 12:50] yvaucher commented on #165
Note that your partner bank state must be `bv` or `bvr`

https://github.com/OCA/l10n-switzerland/blob/8.0/l10n_ch_payment_slip/payment_slip.py#L112

[2015-10-09 10:52] sbidoul opened #170 "[8.0] URGENT: l10n_ch_dta both in root AND __unported__"
Can you check this and remove or rename in `__unported__`.

cc/ @yvaucher

See https://odoo-community.org/groups/contributors-15/contributors-26518?mode=thread&date_begin=&date_end=, item 2 for more information.

[2015-10-09 12:02] yvaucher commented on #170
@sbidoul I'll have a look at it

[2015-10-09 12:09] yvaucher commented on #170
@sbidoul done at https://github.com/OCA/l10n-switzerland/commit/e5238ac6f8bd57430571d29f02024d6072dc9b65

[2015-10-09 12:11] sbidoul commented on #170
Thanks!

[2015-10-09 12:11] #170 closed, assigned to nobody

[2015-10-09 17:31] yvaucher opened #171 "Migration 9.0"
In order to not port twice the same modules, please comment here if you are going to port a module and tell us about the PR you created.
- [ ] l10n_ch_bank
- [ ] l10n_ch_base_bank
- [ ] l10n_ch_credit_control_payment_slip_report
- [ ] l10n_ch_dta
- [ ] l10n_ch_hr_payroll
- [ ] l10n_ch_import_cresus
- [ ] l10n_ch_payment_slip
- [ ] l10n_ch_payment_slip_layouts
- [ ] l10n_ch_payment_slip_voucher
- [

[2015-10-09 17:54] pedrobaeza commented on #171
This is automatically created by the migration script, so it's not needed to create it manually.

[2015-10-09 18:03] open-net-sarl commented on #171
Hello,

We will port l10n_ch_hr_payroll

[2015-10-12 11:41] yvaucher commented on #171
@pedrobaeza Ok thanks I'll close this one once the script created it

[2015-10-14 00:28] pedrobaeza opened #172 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate (alphabetically)
- [x] l10n_ch (removing) @yvaucher #173
- [x] l10n_ch_bank @yvaucher #184
- [x] l10n_ch_base_bank @yvaucher #179
- [ ] l10n_ch_credit_control_payment_slip_report
- [x] l10n_ch_dta @BT-mtallon #212
- [ ] l10n_ch_dta_base_transaction_id
- [x] l10n_ch_hr_payroll @open-net-sarl
- [x] l10

[2015-10-14 09:04] yvaucher commented on #171
replaced by #172

[2015-10-14 09:04] #171 closed, assigned to nobody

[2015-10-16 12:04] diezcode opened #177 "l10n_ch_dta How is this working in Odoo 8"
l10n_ch_dta How is this working in Odoo 8? Where to find dta

[2015-10-16 12:10] yvaucher commented on #177
You should have an option "Create DTA" in `More` menu in form view of Payment Order

You will also see it in view list of Accounting -> Payments -> Payment Order if you select at least one payment

[2015-10-19 12:00] yvaucher commented on #172
Let me a message in comments if you need me to update the list of this issue

[2015-10-21 11:45] ecino commented on #165
Ok, thank you.

[2015-10-21 11:45] #165 closed, assigned to nobody

[2015-10-26 08:13] diezcode opened #183 "Error when installing l10n_ch_payment_slip_layouts"
File "/usr/lib/python2.7/dist-packages/openerp/fields.py", line 1393, in convert_to_cache
    raise ValueError("Wrong value for %s: %r" % (self, value))
ParseError: "Wrong value for ir.actions.report.xml.report_type: 'reportlab-pdf'" while parsing /opt/custom_addons/l10n_ch_payment_slip_layouts/report/report.xml:10, near
<report id="invoice_and_one_slip_per_page_from_invoice" model="account.invoic

[2015-10-26 09:23] vrenaville commented on #172
@yvaucher could you please add me for l10n_ch_dta ?

[2015-10-26 09:26] yvaucher commented on #183
@diezcode For which version of Odoo ? 8.0 ?

[2015-10-26 09:27] yvaucher commented on #172
@vrenaville done

[2015-10-26 09:55] diezcode commented on #183
@yvaucher  yes 8.0
Can someone fix this or what is the problem? =)

[2015-11-03 16:45] max3903 opened #189 "l10n_ch_lsv_dd: unmet dependency l10n_ch_payment_slip_base_transaction_id for series 8.0"
The module l10n_ch_lsv_dd is part of the OCA Newsletter but it is not available on Odoo Apps.

Here is why:

[code]

[2015-11-08 17:37] treviser commented on #172
Count me in for translations of the official swiss terms (accounts, taxes, payroll etc.) in english, french, german and italian. I'm not a developer, but I can edit po and xml files.

[2015-11-09 09:15] BT-astauder commented on #172
@yvaucher Could you please add brain-tec for l10n_ch_sepa ?

[2015-11-09 15:39] johannbelet opened #191 "[l10n_ch_hr_payroll] - Duplicate code block"
Found duplicate code blocks in models/hr_payslip.py:

on line 101 to 104 and line 106 to 109

[2015-11-09 15:57] johannbelet opened #192 "[l10n_ch_hr_payroll] - Error on Compute Sheet in hr_payslip.py"
When using "Compute Sheet" and when there are at least one paid invoice bind to the employee.

Solved the issue by changing following code:
line 132:

by

Need a confirmation maybe.

[2015-11-09 16:04] yvaucher commented on #172
@BT-astauder What are your plan about l10n_ch_sepa? It would be great if we could join the common effort done in OCA banking addons

[2015-11-11 13:49] #191 closed, assigned to nobody

[2015-11-11 13:52] #192 closed, assigned to nobody

[2015-11-11 14:05] yvaucher commented on #189
Ok my merge deleted that change when rebasing.

It was activated in #162 I'll fix it

[2015-11-11 14:06] yvaucher commented on #189
Fixed at 5102863

[2015-11-11 14:06] #189 closed, assigned to nobody

[2015-11-11 14:16] johannbelet opened #193 "[l10n_ch_bvr_scan] - Improvement/Fix - Remove leading space on BVR string for compatibility with some scanners"
Hi, this is more a improvement than an issue but it improve the scanning process a lot in term of speed.

It would be nice to add following code to deal with leading spaces appearing in BVR string when we use some scanners (ex: IRISPen Express 7) :

in the following block on line 269

[code]

Regards,

Johann

[2015-11-17 08:39] diezcode commented on #177
When I try to create a dta this error comes:

Traceback (most recent call last):
  File "/opt/odoo/src/openerp/http.py", line 508, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/src/openerp/http.py", line 526, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/src/openerp/http.py", line 285, in _call_function
    r

[2015-11-17 11:19] diezcode commented on #183
hello??? @guewen any help? this module is not working on ODOO v8

[2015-11-20 12:28] yvaucher commented on #183
@diezcode Sorry I have no time yet to check this. Could you provide the full stack trace to be able to investigate?

[2015-11-20 12:31] yvaucher commented on #193
Hello @johannbelet this seems a good idea, could you make a pull request to make this change?

[2015-12-08 12:42] diezcode opened #199 "How is the DTA workflow?"
I have some problems with DTA.
I have configurate all with the bank. But know when I want to make a DTA transfer it doesn't work.
Is there any workflow or documentation about that?
Create a DTA works but what are the next steps?
Thank you

[2015-12-09 14:28] fclementic2c commented on #172
@BT-astauder Since the payment order does not exist anymore we need to build a base module for electronic payment (DTA, SEPA CH, SEPA...)

[2015-12-09 18:36] yvaucher commented on #172
@treviser Seems we just fixed transifex

For translation you can have a look there:
https://www.transifex.com/oca/OCA-l10n-switzerland-9-0

[2015-12-11 17:33] philhug opened #200 "Translations missing for v9"
Transifex project is set up but empty.
https://www.transifex.com/oca/OCA-l10n-switzerland-9-0/

[2015-12-17 14:58] diezcode commented on #183
@yvaucher Yes here you have all the stack:

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 530, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 567, in dispatch
    result = self._call_function(*_self.params)
  File "/usr/lib/py

[2015-12-21 10:03] treviser commented on #172
I looked it up, but the resource is empty, nothing to translate?

[2016-01-04 08:30] diezcode commented on #183
any fix? @yvaucher

[2016-01-06 12:00] yvaucher commented on #172
Indeed. I assume it only load terms from installable modules, and for now there is only l10n_ch_zip which has been ported

[2016-01-13 08:55] treviser commented on #172
@yvaucher Please let us know when you are ready.

[2016-01-18 08:41] fclementic2c opened #201 "Error after import of v11 file"
ValueError: Invalid field 'reconcile_id' in leaf "<osv.ExtendedLeaf: ('reconcile_id', '=', False) on account_move_line (ctx: )>"

after import of v11 file

[2016-01-19 14:52] BT-astauder commented on #172
@vrenaville For us l10n_ch_dta has priority over the sepa module (if this is still needed). Have you already started porting it? We will create a dta for 9.0, but similar to account_sepa. Unfortunately account_sepa is under the Enterprise Licence, so we cannot share the new module here. Any suggestions how to deal with this problem?

[2016-01-19 15:15] treviser commented on #172
The Transifex resource is still empty...

On 09.12.2015 19:36, Yannick Vaucher wrote:

##

twanda AG
Ermin Trevisan
Artherstrasse 19
CH-6318 Walchwil
T    +41 41 758 1515
M    +41 79 208 7373
E    trevi@twanda.com
www.twanda.ch
www.twanda.ch/page/restaurant

[2016-01-19 15:25] yvaucher commented on #172
@BT-astauder we definitely need to have a community version of DTA. We haven't started porting it. For now I have focused on porting BVR and V11 imports, which should be ready now. Feel free to test them.

This is a issue of the new Odoo license model, some key features will have to be done twice.

However, you might want to check if the base for making that module is not already in community, in

[2016-01-19 15:26] yvaucher commented on #172
@treviser sorry nothing new has been merged yet, I had to fixe few issues in payment slip PR. It is in review process, still.

[2016-01-19 15:28] treviser commented on #172
let me know when you are ready :-)

On 19.01.2016 16:26, Yannick Vaucher wrote:

##

twanda AG
Ermin Trevisan
Artherstrasse 19
CH-6318 Walchwil
T    +41 41 758 1515
M    +41 79 208 7373
E    trevi@twanda.com
www.twanda.ch
www.twanda.ch/page/restaurant

[2016-01-19 15:45] BT-astauder commented on #172
@yvaucher We thought to take the structure for the l10n_ch_dta from account_sepa. But for generating the DTA itself, the code from OCA would be nice. But as far as I know it's impossible to mix code from both licences. So we have to decide for one part and develop the other part again in a clean room development. Strange, or do you have another idea?

[2016-01-21 08:12] philhug opened #202 "l10n_ch_fds_* should be merged to 9.0 to prepare for porting"

[2016-01-22 11:13] Drsmartinkus opened #203 "l10n_ch_payment_slip empty report issue"
Hello guys,
I was trying to print payment slip but when i open it it says "this document is empty"
Despite that other pdf generated by odoo works fine like invoice,sales order and etc.

Does anyone has this module working and could give me some tips how to solve this?
Any help would be appreciate

[2016-01-22 22:57] #203 closed, assigned to nobody

[2016-02-01 08:47] lepistone commented on #183
Hi @diezcode, as I'm sure you know, this is an open source project, so people might have the time to help, but you can't expect that.

I didn't investigate your problem, but if you found a solution and would be willing to share it, that would be great!

Thanks for reporting!

[2016-02-01 10:21] yvaucher commented on #183
@diezcode Have you the last version of the module l10n_ch_payment_slip ? On runbot I don't have this error.

It seems that in your case the following code isn't working or maybe not present:
https://github.com/OCA/l10n-switzerland/blob/8.0/l10n_ch_payment_slip/report/ir_action.py#L29-L36

Please make sure you have the last version of the module and you might want to delete your .pyc files to ensur

[2016-02-01 10:33] yvaucher commented on #177
I think you are missing the fix done in this commit:
https://github.com/OCA/l10n-switzerland/commit/2dc682a3b51cb5ea0953a06f131216c3662edd45

Please update your module by downloading the last version, restarting your server and update it on your instance.

get_account_number needs to have a @api.multi decorator instead of @api.model

As it seems your code is outdated, I close this issue

[2016-02-01 10:33] #177 closed, assigned to nobody

[2016-02-01 10:38] yvaucher commented on #122
@copmn In version 9.0 I added few error messages to help the user do his settings.
I'll close this issue I close this as #158 has been merged

[2016-02-01 10:38] #122 closed, assigned to nobody

[2016-02-01 10:42] yvaucher commented on #202
@philhug Can you do a PR following instruction there to extract the module from 8.0 ?

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0

[2016-02-01 10:48] yvaucher commented on #164
@prakashjain Have you tried with the last version of the module ?

[2016-02-01 10:56] diezcode commented on #183
It's working fine now. My Problem was, that I had an old l10n_ch_payment_slip modul. Now  with the new one its ok. Another question. It is possible to add this with the aeroo report Templates?
Thanks for your help.

[2016-02-01 11:01] lepistone commented on #183
I'm closing this, thanks! aeroo is OT on this ticket (in general, there are no aeroo reports in OCA branches as far as I know, but you can of course make your own reports).

[2016-02-01 11:01] #183 closed, assigned to nobody

[2016-02-01 21:56] philhug commented on #202
@yvaucher  https://github.com/OCA/l10n-switzerland/pull/205

[2016-02-05 12:07] philhug commented on #202
#205 is merged

[2016-02-05 12:07] #202 closed, assigned to nobody

[2016-02-11 09:23] BT-astauder commented on #172
Hello @vrenaville

We have a working DTA for 9.0. For the implementation we tried to follow https://docs.google.com/document/d/1FfaitydiW5uFjyIwtMT9fVbScwBefCATmoM2x7HNVbk/edit

You can find the WIP in #212 This is ready for a code review.

[2016-02-11 14:04] yvaucher commented on #172
@BT-astauder Sadly you are right about the clean room development.

This is needed to respect the license of contributors who wants their code to remain Open Source. What will happens is that enterprise features like sepa will most likely be still have a lot of support in OCA thus Community version of Odoo will still have it's sepa module developed by the community.

[2016-02-22 09:33] ghost opened #214 "Impossible to access the runbot log"
Hello,

Unfortunately I cannot access any log of the runbot so It is impossible to know what failed.

[https://www.google.com/url?q=https%3A%2F%2Frunbot.odoo-community.org%2Frunbot%2Fbuild%2F3142117&sa=D&sntz=1&usg=AFQjCNHPjyUiWh8d0nWM2-zGUkCKT4TBtA](url)

Thanks a lot,
Miguel.

[2016-02-23 14:02] tafaRU opened #216 "[l10n_ch_payment_slip] bvr_scan_line_letter_spacing never used"
I noticed the field `bvr_scan_line_letter_spacing` is never used inside the code.
So what is this supposed to mean?

Thank you in advance.

[2016-02-29 07:56] stephanamann opened #217 "Wrong inheritance in l10n_ch_payment_slip_account_statement_base_completion"
In File l10n-switzerland/l10n_ch_payment_slip_account_statement_base_completion/wizard/bvr_import.py, line #25 the class is declared to inherit from 'bvr.import.wizard'. In **openerp**.py a dependency to '10n_ch_payment_slip' is declared.

In l10n-switzerland/l10n_ch_payment_slip/wizard/bvr_import.py class BvrImporterWizard is declared and named 'v11.import.wizard'.

So line 25 in l10n-switzerland

[2016-03-17 09:27] yvaucher commented on #200
This is solved

[2016-03-17 09:27] #200 closed, assigned to nobody

[2016-03-17 09:28] yvaucher commented on #172
@treviser Transifex seems now ready for translators to get involved
https://www.transifex.com/oca/OCA-l10n-switzerland-9-0/

[2016-03-31 08:53] treviser opened #225 "[9.0]l10_ch_states is not available in the apps store"
As it is a dependency of l10_ch_zip this is annoying for somebody who does not know how to cherry pick something from github, as me for example...

[2016-04-18 13:21] yvaucher commented on #225
https://www.odoo.com/apps/modules/9.0/l10n_ch_states/

[2016-04-18 13:21] #225 closed, assigned to nobody

[2016-04-18 13:24] yvaucher commented on #214
Which runbot for which version of Odoo or in which PR was it for ?

[2016-04-18 13:35] yvaucher commented on #216
I think it was a field to define letter-spacing parameter as the space between 2 characters in the OCR font.

It seems we use it in a specific that redefines:

[code]

Not sure we need it though.

[2016-04-18 15:28] yvaucher commented on #217
`l10n_ch_payment_slip_account_statement_base_completion` has not been ported neither in version 8.0 nor 9.0. Have you a migrated version of l10n_ch_payment_slip_account_statement_base_completion to propose ?

[2016-04-19 08:00] yvaucher opened #232 "[8.0] tests are failing in l10n_ch_account_statement_base_import"
An error occure on test_postfinance_xml file:

[code]

[2016-04-19 08:02] yvaucher commented on #232
@ecino any idea on this one?

[2016-05-03 12:23] ecino commented on #232
Postfinance parser was not parsing correctly the bank account in the statement.
#224 fixes it

[2016-05-03 14:10] #232 closed, assigned to nobody

[2016-05-17 10:01] #193 closed, assigned to nobody

[2016-05-27 12:00] user1007017 opened #243 "Account Type not correctly detected"
Hi, I'm getting the following error:

Installed Odoo 9 and the following "apps"
- Switzerland - Bank list   Camptocamp, brain-tec AG, Odoo Community Association (OCA)  Localisation    9.0.1.0.0
- Switzerland - Bank type   Camptocamp, Odoo Community Association (OCA)    Localization    9.0.1.0.0
- Switzerland - Payment Slip (BVR/ESR)  Camptocamp, Odoo Community Association (OCA)    Localization

[2016-05-30 07:56] dcoopennet commented on #243
I think the issue came from this double negativ check here.
" not " +  " != "
if not bank_acc.acc_type != 'postal' or not bank_acc.ccp:
                    msg.append(_('The bank account {} used in invoice needs to'
                                 ' be a postal account or have a bank CCP.'
                                 ).format(bank_acc.acc_number))
Please fix this as soon as possible.

[2016-06-03 07:48] dcoopennet commented on #243
This issue makes the module not working. Please fix this. @yvaucher

[2016-06-03 08:02] yvaucher commented on #243
@dcoopennet Can you do a pull request ?

[2016-06-03 14:22] yvaucher commented on #243
Fixed by #245

[2016-06-03 14:22] #243 closed, assigned to nobody

[2016-06-07 14:53] dcoopennet opened #246 "[l10n_ch_payment_slip] Migration issue from v8 to v9"
The views from the module in v8 are not properly removed or replaced by the views of v9.
This cause problem during migration process with Odoo.

*\* The problem is occurs, seem the module('l10n_ch_payment_slip') change of OCA. During upgrade process we don't clean the OCA module data.
And we don't compare the OCA module change. So you compare the OCA module changes and make your view compatible ac

[2016-06-07 15:08] yvaucher commented on #246
@dcoopennet Not sure what is not compatible. It properly installs on a v9.0.

Thus you might want to drop your old view data to rebuild them an update base could do the trick. Unless you have edited the views in web interface in which case you will have to fix it manually.

[2016-06-08 07:15] dcoopennet commented on #246
I think a view was customize and set to non-update. Thanks a lot for your answer.

[2016-06-08 08:12] yvaucher commented on #246
Ok thus I close this issue, feel free to reopen it.

[2016-06-08 08:12] #246 closed, assigned to nobody

[2016-06-09 14:50] prakashatredcor opened #247 "Exception during V11 (BVR/ESR) Import"
File "/var/lib/odoo/addons/9.0/l10n_ch_payment_slip/wizard/bvr_import.py", line 195, in _prepare_line_vals
    num = line.invoice.number if line.invoice else False
AttributeError: 'account.move.line' object has no attribute 'invoice'

It may be from followine line of code:
 if line:
            # transaction_ref is propagated on all lines
            partner_id = line.partner_id.id
   **195: num =

[2016-07-08 11:43] yvaucher opened #250 "Runbot V9 missing wand dependency"
[code]

https://runbot.odoo-community.org/runbot/build/3150232

@OCA/core-maintainers how can we fix this ?

[2016-07-08 13:48] yvaucher commented on #247
fixed by #248

[2016-07-08 13:48] #247 closed, assigned to nobody

[2016-07-08 13:51] yvaucher commented on #201
@fclementic2c still the case ? was for version 8.0 ?

[2016-07-08 13:55] yvaucher commented on #172
@BT-astauder I remove you from l10n_ch_sepa portage as we @alexis-via did it connecting it with the OCA iso20022 modules of bank-payment

[2016-07-08 14:06] BT-astauder commented on #172
@yvaucher ok, thanks to @alexis-via for your work!

[2016-08-04 11:57] gurneyalex commented on #250
done

[2016-08-04 11:57] #250 closed, assigned to nobody

[2016-08-04 12:38] yvaucher commented on #250
Thanks

[2016-08-08 12:44] tttttx2 opened #254 "No ESR generated"
Hi There
I have a little issue with the payment slip module.
All the Invoices I recently generated are missing the ESR number. If I try to add one manually I always get the following error message. Can you help me, please?

[code]

[2016-08-11 06:11] ghost commented on #172
I did `l10n_ch_import cresus` so it should be ticked off.

[2016-08-11 11:37] yvaucher commented on #172
Updated

[2016-08-16 14:03] open-net-sarl opened #257 "Problem while generating a pain.001 file using an IBAN account"
Hi

Not sure if it's by design or a code error or a problem with the configuration, so here is the situation.

The res.partner.bank info of the supplier is configured with a CCP account of the form "01-xxxxxx-xx".
That means: no IBAN

The res.partner.bank info used to pay this supplier invoice is configured with an IBAN account.

The generated pain.001 XML file that will be uploaded contains among

[2016-09-28 14:03] whotopia opened #266 "BVR/ESR for UBS Bank accounts / l10n_ch_payment_slip"
(using latest version of code for Odoo 8)

I have received a number of pre-printed BVR+ forms for my UBS company account.
These have no client nor amount fields (obviously) in the BVR line  042>
What I am trying to do based on the data from these form, and UBS guide is to set up BVR invoicing for clients.

https://www.ubs.com/ch/en/swissbank/corporates/cash-management/downloads/_jcr_content/par/co

[2016-10-03 09:38] treviser opened #268 "[9.0]l10n_ch_hr_payroll: .pot translation file does not include hr.salary.rule.xml and many others"
I'm not a developer, so I'm not able to make pull requests.

When I create a .pot file for l10n_ch_hr_payroll, I only get about 6 terms to be translated. All the terms of hr.salary.rule.xml and others are completely missing.
Like I did with the l10n_ch accounting module, which I've sent to @yvaucher  I would like to adapt l10n_ch_hr_payroll in order to:
- set up proper english source terms
- creat

[2016-10-03 09:42] treviser opened #269 "[9.0]l10n_ch_hr_payroll: remove nb_NO.po, add fr.po and de.po"
I can't see any reason for norwegian language in Switzerland ;-)

[2016-10-05 13:42] yvaucher commented on #268
Hello,

OCA is in the process of removing .pot files in all modules.
Translations are managed in Transifex and we don't need .pot for that in fact it's a bit more efficient without those files.

Here you will find the values to translate for this module:
https://www.transifex.com/oca/OCA-l10n-switzerland-9-0/translate/#fr/l10n_ch_hr_payroll/79416941

You might need to be logged but you can use you

[2016-10-05 13:53] yvaucher commented on #269
me neither :)

I guess a translator has been overdoing it.

@OCA/community-maintainers Anyone knows if we can restrict localisations to some languages on transifex?
Thus translators won't loose time to translate some texts that will never been used in languages other that english and country languages.

[2016-10-05 13:56] treviser opened #270 "l10n_ch_hr_payroll: Complete rework: multilingual, source terms in english"
I've done a complete rework of the module as following:
- make the fields code, name and note in hr.salary.rule and hr.salary.rule.category translatable
- make the other extra fields of the module translatable
- translate and change all source terms to english
- translate all source terms to french, german and italian

I'm not a developer, so I would greatly appreciate help concerning reviewing, t

[2016-10-05 13:59] treviser commented on #268
@yvaucher @dcoopennet I found out why and did rework the whole module. I had to make more fields translatable, see my new issue on this: https://github.com/OCA/l10n-switzerland/issues/270

[2016-10-05 13:59] #268 closed, assigned to nobody

[2016-10-05 18:01] pedrobaeza commented on #269
I think it can be the translation memory (one Transifex feature) that autocompletes these languages from other organization projects, so no extra work for any translator. But the bad news are that we can't deactivate languages per project AFAIK. It's handled by organization. But I will make another look to see if possible.

[2016-10-06 12:56] pedrobaeza opened #271 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] l10n_ch_bank #288
- [x] l10n_ch_base_bank #288
- [ ] l10n_ch_credit_control_payment_slip_report
- [ ] l10n_ch_dta
- [x] l10n_ch_fds_postfinance @ecino #409
- [x] l10n_ch_fds_upload_dd @ecino #409
- [x] l10n_ch_fds_upload_sepa @ecino #409
- [ ] l10n_ch_hr_payroll
- [x] l10n_ch_import_cresus @gr

[2016-10-27 13:36] treviser commented on #270
Any comment on this?

[2016-10-28 06:11] open-net-sarl commented on #270
This is a great idea to allow translation on salary rule and salary rule category.
But you may have seen that the rules and rule categories are not "updatable".
So if you want to submit your modification please do a pull request on the branch 9.0 of the repository.
I will review this pull request do my best to merge your modifications.

Thanks

[2016-10-28 06:47] treviser commented on #270
Unfortunately I don't know how to make a pull request :-(

[2016-10-28 11:52] open-net-sarl commented on #270
https://odoo-community.org/page/code you can refer to this documentation.
It was written by the OCA.

[2016-10-28 13:36] yvaucher commented on #172
Added https://github.com/OCA/l10n-switzerland/pull/272

[2016-10-28 13:38] treviser commented on #270
@open-net-sarl I've done it, see https://github.com/OCA/l10n-switzerland/pull/273
But there is an error: dependency "xlrd" missing...

[2016-11-01 07:22] open-net-sarl opened #274 "TVA Report V9.0"
Are you working on a TVA report for the community edition of Odoo ?

[2016-11-01 07:59] fclementic2c commented on #274
Hello,

We have not plan on this report today.

Regards,

_camptocamp_

INNOVATIVE SOLUTIONS
BY OPEN SOURCE EXPERTS

_Frédéric Clementi_
Project Manager
Business Solutions

+41 21 619 10 41

www.camptocamp.com

2016-11-01 8:22 GMT+01:00 Open Net Sàrl notifications@github.com:

[2016-11-16 16:17] #274 closed, assigned to nobody

[2016-11-16 16:20] yvaucher commented on #254
This seems to be an error of encoding with the partner name. What kind of special characters did you had in this string to generate such error ?

[2016-11-16 16:28] tttttx2 commented on #254
I'm sorry, I don't remember exactly. But most likely some Umlaut (ä ö ü) as those are very common in the german language.
The strange thing however was, that it affected all of my invoices, no matter which partner I used.

[2016-11-16 16:51] yvaucher commented on #266
This was answered on the mailing list:

https://odoo-community.org/groups/switzerland-29/switzerland-46866

I'm closing it

[2016-11-16 16:51] #266 closed, assigned to nobody

[2016-11-16 17:58] yvaucher commented on #254
@tttttx2 Did you solve it?

I cannot reproduce on Odoo 9.0
I tried with ä ö ü in the customer name

By the way my python-reportlab version is:

reportlab==3.1.44

[2016-11-16 18:16] #217 closed, assigned to nobody

[2016-11-16 18:18] yvaucher commented on #257
Have you made a fix for this one?

[2016-11-16 18:18] #214 closed, assigned to nobody

[2016-11-16 18:19] #152 closed, assigned to nobody

[2016-11-16 18:21] yvaucher commented on #114
We got it there https://github.com/OCA/l10n-switzerland/blob/10.0/l10n_ch_base_bank/models/bank.py#L12

[2016-11-16 18:21] #114 closed, assigned to nobody

[2016-11-16 18:41] tttttx2 commented on #254
@yvaucher Yes and no. I now generate the esr number by myself. So the issue is fixed in my case, but only with a very nasty workaround. (Odoo python action on invoice generation and a custom diy module to compute the checksums.)

Don't know the reportlab version, but I was using the odoo 8.0 nightly repository at that time.

[2016-11-16 18:52] stephanamann commented on #217
Sorry, missed your comment from April :-( Yes, we are using this module in odoo version 8. It works just fine, with the change mentioned in my first posting.

[2016-11-16 19:01] yvaucher commented on #217
No problem I had some backlog in my messages too :smile:

Okay in fact this follow this change: https://github.com/OCA/l10n-switzerland/commit/5f5b4e678616d09c2fe8dc2365b8534ff32cbb15

Would you be kind and make a PR with this little change to port the module to 8.0 ?

[2016-11-16 19:04] yvaucher commented on #254
Looking at your logs your report-lab version is: reportlab-3.3.0

You should be able to find it's version in /usr/lib/python2.7/dist-packages/

[2016-11-16 19:06] tttttx2 commented on #254
Thanks, but unfortunately I'm not quite sure what to do with that information...
Sorry, I am still pretty new to odoo.

[2016-11-16 19:08] stephanamann commented on #217
Just made the PR.

[2016-11-16 19:09] yvaucher commented on #254
Okay I found what could be your error, but I'm not sure how you got there.

I have the same error if my partner has no name (if I bypass the SQL constraint that defines name is required). Did you used some kind of module like partner_firstname that change `res.partner` `name` field ?

[2016-11-16 19:19] tttttx2 commented on #254
I have not actively changed it, no. However I am using the magento odoo bridge from webkul, maybe this could be the cause? I don't have empty name fields in odoo though.

PS: I can not directly attach the module here because it is not free...

[2016-11-17 12:28] yvaucher commented on #254
@tttttx2 You should be allowed to give the code or part of it as you are on **odoo 8.0** and the license of version 8.0 **must be AGPL** otherwise webkul is violating the AGPL license
(paid module != proprietary module)

https://www.gnu.org/licenses/gpl-faq.html#DoesTheGPLAllowMoney
https://www.gnu.org/licenses/gpl-faq.html#DoesTheGPLAllowNDA

And AGPL license gives you the right to redistribute t

[2016-11-17 13:06] tttttx2 commented on #254
Thanks for the explanation about the license. Still, I would feel better to not publish their code. If you need it however, I'll be happy to send it to you in private.
(The code I'm talking about is not a change of the odoo source code but it is a module they developed. Can't they choose their own license for their modules?)

I do have access to the database and will check this. Thank you.

[2016-11-18 13:31] diezcode opened #277 "How can I change the font to OCRB font for my payslip print?"
How can I change the font to OCRB font for my payslip print?

[2016-11-19 07:54] diezcode commented on #277
I see the OCRB font is in static/fonts in the payment slip module.
How can I use that for the print of the payment in odoo8?

[2016-11-19 07:59] diezcode commented on #164
have you installed wkhtmltopdf, or some converter from html to pdf? In Linux you can use wkhtmltopdf

[2016-11-21 09:12] yvaucher commented on #164
@diezcode last versions of `l10n_ch_payment_slip` is based on reportlab

I'll close this as no activity since months

[2016-11-21 09:12] #164 closed, assigned to nobody

[2016-11-21 09:37] teamjhuns2014 opened #278 "German Characters not supported"
Hi There,

I am using FPDF to generate payment slip, but problem is German Characters are not getting printed on payment slip pdf correctly.

Any guide ?

AJ

[2016-11-21 09:54] yvaucher commented on #278
Hello @teamjhuns2014 ,

I don't know FPDF, are you using the module l10n_ch_payment_slip to generate the payment slip and you combine multiple pdf with FPDF? With which version of Odoo?
Once generated with l10_ch_payment_slip your PDF correct has the ä, ö, ü but not after using them with FPDF?

[2016-11-21 18:12] yvaucher commented on #277
@diezcode You mean that you want to use the font in an other report like Qweb ?

If so you can define a style in css.

Something like:

[code]

This is quite the same as in [webkit version](https://github.com/OCA/l10n-switzerland/blob/7.0/l10n_ch_payment_slip/report/multi_bvr.mako#L5) just change the path.

Otherwise here is where the font is registered: https://github.com/OCA/l10n-switzerland/blo

[2016-11-22 08:21] leemannd opened #279 "[9.0] Two new reports for accounting in l10n_ch"
You'll find two new reports in these PR:
- https://github.com/OCA/OCB/pull/568
- https://github.com/odoo/odoo/pull/14426
Feel free to review it.

P.S: Today it will be tested and PR done to v10

[2016-11-24 08:22] diezcode commented on #277
I use the payment slip modul. I print it normal with the button that the modul imports.
How can I see if there is the ocrb font?

[2016-11-24 15:51] yvaucher commented on #277
@diezcode This is already used by default in the printout.

You can activate "Insert BVR background ?" in company settings.
This will show you if everything is correctly placed.

If you check properties of the PDF you should also see OCR-B-Bold font in it.

[2016-11-28 08:46] #279 closed, assigned to nobody

[2016-12-01 10:09] sp4tz opened #285 "BVR payment slip. Request new implementation"
Hello,

Could it be possible to join adverts to the BVR slip?
the printed A4 page show only the BVR at the bottom with a big white space on top. This space could be useful for any kind of adverts, like text or jpg.

what do you think?

[2016-12-28 12:54] davidwul commented on #172
Why the module l10n_ch_account_statement_base_import is not marked to migrate? I just tried it, it seems I can import bank statement from ubs, with no modification. This module would rather belong to OCA/bank-statement-import? But I think it makes sense to have it in the CH localization.

[2017-01-02 15:24] philhug commented on #172
please add #291

[2017-01-11 15:04] lucode opened #296 "[9.0] l10n_ch German (CH) translation does not work (i18n_extra file)"
Not: This is no related to a module on this repo, but from the Odoo repo.
A couple of people experience the same bug and a really usefull workaround hasn't be found yet.
The German transalation in i18n_extra (Table of account/ Taxes) is only be used if the set language is de_DE, with de_CH there is no way to make it work. see:
https://www.odoo.com/forum/help-1/question/german-translation-of-swiss-

[2017-01-20 14:46] treviser commented on #296
de_CH is not a supported language. It should not be available in the first place.

[2017-01-26 16:14] yvaucher commented on #296
This might be an issue in Odoo core. In fact sub languages like de_CH should inherit from the main language (de_DE) but as translations with l10n_multilang module for chart of account behave differently this might not work as expected. You should open a bug report on https://github.com/odoo/odoo/issues

The work around is to use de_DE instead of de_CH, by the way I'm not aware of any existing tran

[2017-01-26 16:14] #296 closed, assigned to nobody

[2017-01-26 16:17] treviser commented on #296
de_CH is not available in transifex.

[2017-01-26 16:45] yvaucher opened #297 "Update l10n_ch_bank with ccp"
Data for l10n_ch_bank was made from:

https://www.six-interbank-clearing.com/fr/home/bank-master-data/download-bc-bank-master.html

However we don't load the ccp in Odoo, it would be a good idea to have them to ease the usability of the modules.

https://www.six-interbank-clearing.com/dam/downloads/bc-bank-master/bcbankenstamm_e.xls

In the actual csv file xmlid have a column: bank_postaccount thi

[2017-01-27 08:39] yvaucher commented on #296
@treviser it is intended as you don't need to translate everything in de_CH you should only create translation for differences from de_DE

[2017-01-27 08:41] treviser commented on #296
I know.

[2017-01-27 10:29] BT-cserra commented on #172
Hello @yvaucher. Can you please add the module l10n_ch_lsv_dd to the README.md file? Thank you.

[2017-01-27 14:37] yvaucher commented on #172
I added it to the list here. The main README.rst is updated by a bot.

[2017-01-27 14:40] BT-cserra commented on #172
Thanks @yvaucher.

[2017-02-16 00:46] philhug opened #302 "Implement ISO20022 replacement for ISR v11"
The Swiss ISR v11 files will be replaced with one of the following options:
* camt.053 including payment details
* camt.053 without details + separate camt.054 with payment details

Testing links (free sign up and test data):
https://isotest.postfinance.ch/

This issue is to track ideas and implementations about the ISO20022 migration.

[2017-02-17 21:27] yvaucher commented on #302
camt import must be based on
https://github.com/OCA/bank-statement-import/tree/10.0/account_bank_statement_import_camt

[2017-02-17 21:28] yvaucher commented on #297
PR done here #301

[2017-03-01 10:26] leemannd commented on #271
Porting l10n_ch_pain_base https://github.com/OCA/l10n-switzerland/pull/306
& l10n_ch_pain_credit_transfer https://github.com/OCA/l10n-switzerland/pull/307

[2017-03-04 10:45] chdrsto opened #308 "Dependency to account_payment_partner in module l10n_ch_base_bank"
It seems that the module l10n_ch_base_bank depends on account_payment_partner, but this module doesn't exist for V10 or at least I don't know where to find it.

[2017-03-04 11:33] chdrsto commented on #308
Sorry, my mistake ... the missing module is part of the bank_payment suite.

[2017-03-04 11:33] #308 closed, assigned to nobody

[2017-03-15 18:42] #297 closed, assigned to nobody

[2017-03-15 18:42] #278 closed, assigned to nobody

[2017-03-15 18:45] yvaucher commented on #285
You could probably make a module that change some method of payment.slip model to add this feature.

This is not on our roadmap yet.

[2017-03-15 18:45] #285 closed, assigned to nobody

[2017-03-15 18:49] yvaucher commented on #269
@pedrobaeza can't we do something with the bot that does the commit ? maybe we could filter at that time

[2017-03-15 18:51] yvaucher commented on #269
We could register few langs for all "l10n-*" repositories

[2017-03-15 18:54] yvaucher commented on #199
@diezcode depending on your version multiple fixes have landed on dta module

the last one to be added will be #310

I'm closing this issue, please provide more information if you want to reopen it.

[2017-03-15 18:55] #199 closed, assigned to nobody

[2017-03-15 19:00] yvaucher commented on #257
Indeed it is required to have a sanitized number. Still no luck to have a fix for that ?

https://www.six-interbank-clearing.com/dam/downloads/en/standardization/iso/swiss-recommendations/swiss-usage-guide.pdf

page 18 exemple of creditor account: 010391391

[2017-03-22 21:01] cyp-opennet opened #319 "Problem with payment slips (V9): bank's zip+city name printed twice"
This happens because a few lines have been leftover in the file:
l10n_ch_payment_slip/models/payment_slip.py
line 568 - 570

[2017-03-23 11:07] ghost commented on #319
see #320

[2017-03-30 14:01] diezcode opened #321 "BVR generator Odoo10 not working"
It doesn't generate a BVR number in Odoo10. I've tried that with all l10n_ch_switzerland module like : bank etc...

Anyone help? what is with l10n_ch_payment_slip? is this ready for odoo10`?

[2017-04-18 07:03] ghost commented on #302
Here's some feedback from Open Net Sàrl.

We've signed up for camt.053 including payment details with PostFinance --- first for testing in parallel V11 stream, and now in production ---, and it seems Odoo 9.0 + OCA/bank-statement-import can handle it pretty well out of the box for what I can tell:
* This is not automated: the accountant has to manually download a daily bank statement on E-Finance,

[2017-04-18 13:28] davidwul commented on #302
thanks @lbeopennet
Here is a few thought as we are moving our modules to v9/10
if you have a lot of "grouped transactions", you might not want all transactions in the camt053. But you will opt for the separate notification through camt054. Reconciling a bank statement and a _v11 like_ statement is a different business, especially when you have > 500 isr transactions. Having them mixed is not a goo

[2017-04-18 13:29] #319 closed, assigned to nobody

[2017-04-21 12:05] ghost commented on #302
@yvaucher, (or someone else) why is [the matching in base_transaction_id](https://github.com/OCA/bank-statement-reconcile/blob/10.0/base_transaction_id/models/account_bank_statement_line.py#L14) done by comparing `account.move.line.transaction_ref` with `account.bank.statement.name` rather than `account.bank.statement.ref`? On our setup, it seems that both contain ISR numbers in the same format. M

[2017-04-24 07:37] Martronic-SA opened #327 "remove l10n_ch chart as dependence of l10n_ch_bank"
l10n_ch_bank should not depend on l10n_ch as there is no link between bank data and chart of account.
That might lead to conflicts if company has its own chart of accounts.

[2017-05-04 15:26] eLBati commented on #302
@lbeopennet @davidwul thanks for your work.
What is the relation between https://github.com/OCA/bank-statement-import/pull/102 and https://github.com/OCA/bank-statement-import/pull/105?
One depends on the other? Are they overlapping? Independent?
Thanks

[2017-05-04 15:42] ghost commented on #302
Completely independent, it's not the same "details" we are talking about.

[2017-05-08 08:10] davidwul opened #330 "ebics for swiss banks"
[Ebics is a standard for exchanging](https://www.six-interbank-clearing.com/dam/downloads/en/clearit/70/ebics.pdf) file between the enterprise software and the banks. This seems similar to FDS postfinance but it's accross different banks.
This thread is to federate a potential development around that. At least a few banks are enforcing it (UBS/Credit suisse/raiffeisen and more)
Here is a few resou

[2017-05-10 08:12] yvaucher commented on #321
@diezcode can you provide more information ? Any error shown ? have you any output like an empty pdf ?

https://github.com/OCA/l10n-switzerland/tree/10.0/l10n_ch_payment_slip was migrated. And as far as I know it works.

[2017-05-10 08:54] yvaucher commented on #327
Makes sense I made a pull request to fix it #331

[2017-05-10 09:27] diezcode commented on #321
I need to test it again, I think when I tested it, there wasn't a version for odoo 10.0.
We can close this. On Odoo10 Community it's working fine. thx.

[2017-05-10 09:27] #321 closed, assigned to nobody

[2017-05-10 11:39] yvaucher commented on #302
@lbeopennet I understand you mean `account.bank.statement.line.ref` and `account.bank.statement.line.name`

This was done here
https://github.com/OCA/l10n-switzerland/commit/4be015fc4e2502889b14bbbf7170fa7cce8e2555

We had a change to have the invoice number and the ISR number. So it is in name that the ISR should be written.

Now according to field names:

name => Label (in 9.0 it was Memo)
ref =

[2017-05-10 12:18] davidwul commented on #302
@yvaucher thanks for the explanation.
What is best to change,
- the way reconciliation proposition are done (and include subsequently ref after name)
- develop specific camt version in l10n_ch so in case of referenced credit (ISR/DD/LSV) _reference_ is imported in _name_?

If the second option then this [PR would be really useful](https://github.com/OCA/bank-statement-import/pull/107).

[2017-05-12 14:52] #327 closed, assigned to nobody

[2017-05-16 08:18] open-net-sarl opened #333 "l10n_ch_dta : Missing communication"
@yvaucher I noticed that the communication field on payment.order.line is not in the dta file.
Is this normal ?
I checked online the dta format. It seems that this field can be added.

Please just tell me if you are going to add that feature or no ?

Thanks.

[2017-06-01 07:35] open-net-sarl opened #335 "Missing arg in generate_start_payment_info_block"
https://github.com/OCA/bank-payment/blob/10.0/account_banking_pain_base/models/account_payment_order.py

An arg was added to this method but l10n_ch_pain_base override this method.
So please add this new arg in your method.

Thanks

[2017-06-02 15:34] BT-aestebanez commented on #271
Hi, I would like to migrate l10n_ch_scan_bvr to 10.0 (as I already did with 8.0 -> 9.0)
However, current version of the module uses the old API, in other words, it was created from v8.0 (or older).
So, I think we should firstly cherry pick this PR:
https://github.com/OCA/l10n-switzerland/pull/272
To avoid a huge amount of changes

I could do it myself if needed.

Regards
Alvaro

[2017-06-06 06:47] #333 closed, assigned to nobody

[2017-06-09 10:50] yvaucher commented on #271
@BT-aestebanez Yes you will need to cherry-pick the last changes from 9.0 branch.
I added you in the list.

[2017-06-15 14:07] BT-aestebanez commented on #271
Porting l10n_ch_scan_bvr: https://github.com/OCA/l10n-switzerland/pull/337

[2017-06-21 08:42] #335 closed, assigned to nobody

[2017-07-06 07:52] ecino commented on #271
Hi, when I try migrating a base in version 10, the module l10n_ch_bank calls migration script of version 9 which fails, because migration folder is 9.0.9.0. Shouldn't it be 9.0.1.0 instead ?
https://github.com/OCA/l10n-switzerland/tree/10.0/l10n_ch_bank/migrations/9.0.9.0.0

[2017-07-17 09:01] yvaucher commented on #271
This script was meant to migrate from 8.0 to 9.0.

And yes it is for 9.0.1.0.0. But as far as I know such migration script is there to upgrade from a 9.0.x to 9.0.y. I put this here to help migrations. For a completely operable script it should probably be added to OpenUpgrade project.

You can make the SQL request by hand to follow the xmlids.

[2017-09-25 12:24] yvaucher commented on #330
I add this here:

"EBICS and ISO 20022:
More than just the sum of their parts"
https://www.six-interbank-clearing.com/dam/downloads/en/clearit/69/ebics.pdf

[2017-09-28 13:19] clxadmin opened #354 "[10] import ISO2022 - camt.053 bank file -- what are the necessary modules"
Hello
I like to import camt.053 bank files and was trying out the banking modules -- since now I could not find out what are the necessary modules to do so. Can someone give me a guiding?

I found it here  >> account_bank_statement_import_camt

[2017-09-28 14:12] #354 closed, assigned to nobody

[2017-10-03 14:45] pedrobaeza opened #355 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] l10n_ch_bank @yvaucher https://github.com/OCA/l10n-switzerland/pull/367
- [ ] l10n_ch_bank_statement_import_postfinance @eicher31 #500
- [x] l10n_ch_base_bank @yvaucher https://github.com/OCA/l10n-switzerland/pull/367
- [ ] l10n_ch_credit_control_payment_slip_report
- [ ] ~l10n_ch_dta~ obsol

[2017-10-10 11:40] giordano-ch opened #358 "Error while printing ESR"
Hi

I have a little problem with the payment slip module. It works perfect, until i print the ESR than i get this error:

'bool' object has no attribute 'encode': (<type 'exceptions.AttributeError'>, AttributeError("'bool' object has no attribute 'encode'",), <traceback object at 0x7fc2c99e27a0>)

has anabody got this error before?

Thanks in advance

[2017-10-27 16:03] bodi000 opened #360 "[7.0] Error when trying to print ESR/BVR"
Hello,

I installed the l10n_ch_payment_slip module needed to generate ESRs. While trying to print, I get a recurring error in the logs. Any idea why?
I know the focus is not on v7 anymore, but I would like to use this module...

Thank you in advance.
B
[code]

[2017-10-27 16:07] bodi000 commented on #360
in l10n_ch_payment_slip/report/multi_bvr.mako:182 I noticed a call for 'objects', which retrieves 'account.invoice' not 'account.move':

`       %for move in objects:
       <% inv = move.invoice %>
       <% setLang(inv.partner_id.lang) %>
`
so 'account.invoice' obviously has no field 'invoice'.
I see that these changes are here since 2013, maybe I miss something...

[2017-11-03 10:41] yvaucher commented on #358
@giordano-ch this errors means you should have a variable filled with a string. It can be a field which is not properly set. Do you have the full error stack trace ?

Plus specify which version of Odoo you have.

[2017-11-03 10:52] yvaucher commented on #360
Hello,

Yes the error seems to come from:
`<% inv = move.invoice %>`

This version of the report use moves
https://github.com/OCA/l10n-switzerland/blob/7.0/l10n_ch_payment_slip/report/multi_report_webkit_html.py#L62-L65
 https://github.com/OCA/l10n-switzerland/blob/7.0/l10n_ch_payment_slip/report/multi_report_webkit_html.py#L89

Is your invoice validated ? Or are you trying to print invoice in dra

[2017-11-03 10:54] yvaucher commented on #270
I close it a we merged it lastly. thanks for your work @treviser

[2017-11-03 10:54] #270 closed, assigned to nobody

[2017-11-03 10:56] yvaucher commented on #254
This seems a very specific issue depending on other modules. As I'm not able to help further here, I close this issue.

[2017-11-03 10:56] #254 closed, assigned to nobody

[2017-11-03 13:07] treviser commented on #270
@yvaucher My pleasure, I'm always willing to support the community.

[2017-11-04 23:35] bodi000 commented on #360
Hello,

Thank you for your answer and for editing!
Yes, validated invoices.

I somehow got it working by adding in report_webkit/webkit_report.py after L248:
`248        if report_xml.precise_mode:`
`249           objs = parser_instance.localcontext['objects']`

This comes actually from OCB, so thanks OCB team :-)
I am still confused, as it didn't work before with either precise mode ON or OFF.

[2017-11-07 11:24] BT-aestebanez commented on #271
l10n_ch_scan_bvr is already migrated to 10.0, please update the list

[2017-11-10 08:33] philhug commented on #302
@davidwul @yvaucher is there a PR for the name/ref matching issue?

[2017-11-10 16:38] yvaucher commented on #360
What does the precise mode is that it will create for each invoice one pdf file, and when all pdfs are generated (in case you print multiple invoices at once) they are finally merged.

Without the precise mode, it is the standard file generation which can lead depending on the version of wkhtmltopdf to some offset after few pages.

Thanks for pointing on the solution.

[2017-11-10 16:38] #360 closed, assigned to nobody

[2017-11-10 16:44] #277 closed, assigned to nobody

[2017-11-14 13:28] yvaucher commented on #355
As l10n_ch_bank l10n_ch_base_bank l10n_ch_zip l10n_ch_dta and l10n_ch_states have been created when splitting module l10n_ch I will rewrite history to keep trace of this.

[2017-11-28 13:45] yvaucher commented on #271
done

[2017-11-29 10:10] davidwul opened #376 "[10.0] constrain on bank account and partner doesn't play well with some vendor invoice"
I guess we are not alone facing the issue with the bank account constrain in v10.
When vendors send invoices with the "account" of the ISR (BVR/ESR)  as the postal account of the bank.  And vendor has the same bank, the constrain refuse to create the account in the second vendor as the bank account already exist. How do you handle this, do you simply remove the constrain or is there a way to chang

[2017-12-01 16:45] open-net-sarl opened #378 "V10: can't validate a payment order if a CCP number is required but missing on the res.partner.bank"
Hi

The problem is that in such a case, the message that should have popped is trying to get the value of the "name" field of that res.partner.bank object.
Located here:
l10n_ch_pain_base/models/account_payment_order.py, line 94
Whereas at line 77 it's correct.

[2017-12-08 15:44] yvaucher commented on #378
I had hard time to understand what you meant with your issue title, I guess you mean that it fails to raise the UserError message.
As in place it would raise an other exception because a `res.partner.bank` has no `name` field. So the patch needs to take the bank name instead of the partner_bank name is what you meant but here the check is indeed on the `res.partner.bank` thus showing the `acc_numb

[2018-01-17 10:14] MaxyMoos opened #388 "[11.0] Bank list in l10n_ch_bank is not up to date anymore"
The res.bank.csv file used in the module is missing some banks - if the README is to be believed, the list used dates back to 2014.

The module README file indicates that an update might be possible under "Settings > Configuration > Invoicing > Bank & Cash", but the `Update Banks` link is nowhere to be found.
I grepped 'Update Banks' on the source code just in case but nothing matched so perhaps t

[2018-01-25 14:30] magneticlab-ch opened #389 "[10.0] Zip and City inversed"
There is a strange bug.

When printing the BVR with the adminsuer, the formated address under reference is set correctly (ZIP +CITY). But when we choose a standard user and print the BVR, the adderss format is inverted (city+zip)!

ex: superuser
00 00000 00000 00000 00000 00000
name
street
**2400 Le Locle**

ex: normal user
00 00000 00000 00000 00000 00000
name
street
**Le Locle 2400**

how could

[2018-01-26 13:56] treviser opened #390 "CH Payroll: update parameter default values in the payroll configuration"
Just for the convenience: please update the following parameter defaults according to the new legal values:

- OAI/II/IC: 5.125%
- OBP minimum legal: 1,767.633
- UI Maximum limit: 12350

Thanks!

[2018-01-26 14:04] treviser commented on #389
I assume this is either an issue for the help forum or else you did not provide enough information for a bug report.
Did you properly set the address format at "Sales/Configuration/Contacts/Countries/Switzerland", and is the country properly assigned to the corresponding contact?

[2018-01-26 15:32] treviser opened #391 "CH Payroll: Payroll Configuration domains do not allow to use proper accounts according to the official Swiss Chart of Accounts"
I'm struggling with coordinating the logic behind the new Payroll Configuration and the payroll description according to https://www.open-net.ch/blog/odoo-en-suisse-11/post/calcul-des-salaires-suisses-avec-odoo-118
As far as I understand it, the account 5801- Compte de compensation- (which does not exist in the official Swiss Chart of Accounts (anymore, if it ever existed)) should be replaced with

[2018-01-27 13:32] open-net-sarl commented on #391
You can use another account as 5801 as long as you have a class 5 account with type 'Expenses'.

It should not be a 1091 account as it will hold the small computation difference, so it must be in the 'Profit and Loss' report

[2018-02-02 16:28] yvaucher commented on #389
As @treviser said this depends on the country config.

But there was also a bug depending on the access right which wouldn't take the country address format and would take the default one instead. A fix was applied lastly.

Please try with the last version: 10.0.1.1.2

[2018-02-02 16:39] didierdonze commented on #390
- OAI/II/IC: 5.125%
-> I agree
- OBP minimum legal: 1,767.633
-> The annual minimal salary amount to contribute is 21150 (monthly 1762.5)
- UI Maximum limit: 12350
-> I agree

[2018-02-02 17:03] treviser commented on #390
I agree, stupid me :-)

[2018-02-07 16:46] magneticlab-ch opened #393 "bvr_scan_line_letter_spacing not working"
Hello all,
Concern: a parameter `bvr_scan_line_letter_spacing` which is available in the company settings when the module "l10n_ch_payment_slip" is installed.
AFAIK this parameter is not used in the module.
Is there a plan to use it ? or a workaround ?

PS: we use V10.
Thank you.

[2018-02-13 14:15] asaunier commented on #390
@treviser Feel free to have a look at PR #394 for Odoo 10.

Are the changes required for Odoo 9 as well?

It seems some values had already been updated.
For instance https://github.com/OCA/l10n-switzerland/blob/9.0/l10n_ch_hr_payroll/data/hr.salary.rule.xml#L108 (UI maximum limit)

On the other hand the LPP min seems to be outdated:
https://github.com/OCA/l10n-switzerland/blob/9.0/l10n_ch_hr_payro

[2018-02-16 10:20] yvaucher commented on #393
@magneticlab-ch well spotted, seems it was dropped since the refactor from version 7.0 to version 8.0

This is clearly a bug. Either we want to restore this feature or to remove the field.

Did you had some trouble with the default spacing?

[2018-02-16 10:22] yvaucher commented on #378
Closed as fixed by https://github.com/OCA/l10n-switzerland/pull/383

[2018-02-16 10:22] #378 closed, assigned to nobody

[2018-02-16 12:40] asaunier commented on #390
PRs for both Odoo 9 and 10 have been merged.

[2018-02-19 10:49] bodi000 opened #396 "[9.0] l10n_ch_fds_postfinance cannot properly connect to bank"
Hello,

I installed the module and configured an existing fds account. I can connect to it via ssh in ubuntu. The keys are valid. I added the public key to the known_hosts file.
1. While trying to connect via the Import from FDS wizard, an error is thrown: SFTP unable to connect.

in the log I get the following message:
``2018-02-19 10:40:02,686 1627 ERROR bs_06_v8_migrated openerp.addons.l10n_ch_

[2018-02-19 11:09] bodi000 commented on #396
It appears that the problem comes from ssh keys [not] available to odoo user which runs odoo.

[2018-02-27 08:34] MaxyMoos commented on #388
If anyone is having the same issue, here's a script I wrote to generate an updated CSV file from the SIC source .xls :
https://gist.github.com/MaxyMoos/2995cd2fcdc2798b2ce5a448891c4c6b

[2018-04-03 10:01] treviser opened #404 "German Translations: Please refrain from using de_CH and copy the translation to de_DE"
Based on my experiences and the explanations of Martin Trigaux (@mart_e) de_CH is only a subsidiary language, it does inherit all non-translated terms from de_DE in Odoo Transifex. This is fine as long as somebody is using l10n_ch and Odoo S.A. modules only, but makes it necessary to translate all other modules translated by l18n po-Files to de_CH. This does not make much sense in my opinion.

Ple

[2018-04-11 11:36] ghost opened #412 "SEPA Credit Transfer is not compatible with all swiss banks."
The Züricher Kantonalbank (https://www.zkb.ch) does not follow the ISO standard and implements the required (optinal) tag &#60;InstrId&#62; as mandatory instead.
pain.001.001.03.ch.02 states that &#60;InstrId&#62; is required and multiplicity is documented as 0..1.
I got the answer from ZKB that they need the element to give a response with transaction id in case of error. That would help the user

[2018-04-11 11:36] ghost commented on #412
see also
https://github.com/OCA/bank-payment/issues/465

[2018-04-12 12:14] #404 closed, assigned to nobody

[2018-04-12 12:30] treviser commented on #404
I have seen that up to now no modules are concerned, therefore just as a remark for the future.

When using data files with .po translation files, then the spoken languages should be defined as it_IT, de_CH and de_DE, and the corresponding po-File should have the name de.po and not de_CH.po for continuing compatibility. See this issue for reference: https://github.com/odoo/odoo/issues/24037

[2018-04-18 13:18] open-net-sarl opened #415 "[11.0] [URGENT] l10n_ch_base_bank - Error on compute"
The method `_compute_acc_type` from module `l10n_ch_base_bank` is not prepared for multiple res_partner_bank records.
(_`https://github.com/OCA/l10n-switzerland/blob/11.0/l10n_ch_base_bank/models/bank.py#L194`_)

Should be `rec.acc_number` and not `self.acc_number`, this causes the error "Expected singleton".

[2018-04-19 12:04] giordano-ch opened #416 "Swiss QR Bill/Invoice 30th June 2020 http://qr-bill.ch"
The Swiss QR Bill will replace the payment slip.

You'll find more information under: https://www.paymentstandards.ch/dam/downloads/ig-qr-bill-en.pdf

is there already something planned? Will the QR-Invoice be a part of l10n_ch standard?

Thanks for any information.

--------------------

UPDATE

## Availability of QR-bill generation per Odoo version

### Odoo v10 :heavy_check_mark:

An OCA module

[2018-04-19 12:11] yvaucher commented on #416
The QR code code should normally go in odoo core as the BVR it now maintained there.

The good place to report this can be here:

https://github.com/odoo/odoo/issues/20416

[2018-04-19 13:36] Guisolan commented on #416
Hello,
we (Prisme) have develop QR Bill for ODOO10
Best regards

[2018-04-19 14:33] yvaucher commented on #416
@Guisolan welcome on Github and on the OCA.

That's great news, thanks for informing us.

Currently, Odoo Swiss users that cannot afford to migrate to Odoo 11.0 will surely need a module in former versions of Odoo. We will then probably need a version in 10.0 but also in 9.0 for former Odoo versions.

Is your module available anywhere? Github or app.odoo.com? I could find it anywhere.
Is @Prisme-S

[2018-04-23 09:02] yvaucher commented on #415
This was fixed by #417

[2018-04-23 09:02] #415 closed, assigned to nobody

[2018-04-23 09:05] yvaucher commented on #396
@ecino any idea on this?

[2018-04-23 09:14] ecino commented on #396
Hi @bodi000, please verify that you configured correctly your users in the Accounting->Configuration->FDS Postfinance Acccount menu.
You should add the ssh public key your are using for each user that will connect to FDS. See the attached screenshot:
![fds-config](https://user-images.githubusercontent.com/8435180/39117658-c63ac530-46e7-11e8-87be-9c51355c56a6.jpg)

[2018-04-23 21:32] bodi000 commented on #396
Hello and thank you @ecino for your answer.
As I mentioned, everything works fine in the pydev debugger (local user) but not directly (dedicated user). It also works (i can connect to fds) in external applications, e.g. fileZilla, so I think that there is some issue with ssh configuration for the openerp dedicated system user. I tried to configure /etc/ssh/ssh_config to use a specific private key,

[2018-04-24 04:20] davidwul commented on #396
Hi @bodi000 I think I had this issue. One way to solve that is to connect to fds:
 `ssh openerp@fdsbc.post.ch`
from the terminal with the dedicated user. The purpose is not to log in, but rather accept the host key (as it's the first time you connect)

[2018-04-24 08:21] bodi000 commented on #396
Hello and thank you @ecino for your answer.
As I mentioned, everything works fine in the pydev debugger (local user) but not directly (dedicated user). It also works (i can connect to fds) in external applications, e.g. fileZilla, so I think that there is some issue with ssh configuration for the openerp dedicated system user. I tried to configure /etc/ssh/ssh_config to use a specific private key,

[2018-04-24 08:24] bodi000 commented on #396
While running `python /opt/openerp/9.0/openerp-server -c /etc/odoo90.conf`
everything works as expected with my user. However, if I run with the dedicated user (openerp), I get the following traceback on FDS import:

[code]

[2018-04-24 08:52] bodi000 commented on #396
SOLVED!!

But with a workaround, not sure what is the best way to deal with this.
Situation:
Using a system user with no HOME. Therefore no ~/.ssh/known_hosts file.
Configuring a global known_hosts (/etc/ssh/ssh_known_hosts) does not solve the issue, as it does not get checked.
Adding the following code DOES solve the problem, but I think this should be solved at pysftp level.
[code]
another elega

[2018-05-29 07:45] clxadmin commented on #416
Hello,
I'm also interested to this module . @Guisolan, can you tell us more about your module? Is it available somewhere? How can we participate?

[2018-05-29 08:35] Guisolan commented on #416
Hello,

We have develop the QR code module for Switzerland for Odoo10.

At this time we have transfer this Swiss localization to Quentin De Paoli
<qdp@odoo.com>
- he will integrate this to the next release Odoo12

Do you need more ?

Best regards.

_________________________________________________________

Web: www.prisme.ch
Portable: +41 79 230 54 70
Claude Guisolan
Prisme Solutions Informatique

[2018-05-31 15:24] clxadmin commented on #416
Hello Guisolan,

I thank you for your feedback :-)

_We have develop the QR code module for Switzerland for Odoo10._

_Do you need more ?_

Please let me know what are the posibilities to get this module. As I wrote before I also would like to participate if there is a hand needed

Best regards

[2018-06-01 09:46] Guisolan commented on #416
Hello,

We have send the version Odoo10 to Quentin de Paoli <qdp@odoo.com>
- I request that he install it into Odoo10 Swiss localisation
- Quentin never give us any feedback except he will us it for Odoo12
- We will make it available on Github Prisme branch today

For Odoo 11 version
- we don't plan to develop it to this version

Best regards.

_____________________________________________________

[2018-06-01 13:26] clxadmin commented on #416
hello,

thats very kind of you. I will watch your repo https://github.com/Prisme-Solutions-Informatique-SA/PRISME-ODOO

We try to upgrade code for the V10 to V11 and publish it to the community if this is ok for you

[2018-06-01 14:04] Guisolan commented on #416
Hello,

You can upgrade to v11 and publish to community.

Our v10 version was tested with https://qr-validation.iso-payments.ch
- we recommand you do the same for v11

Best regards.
_________________________________________________________

Web: www.prisme.ch
Portable: +41 79 230 54 70
Claude Guisolan
Prisme Solutions Informatique SA
Rte de Montagny 11
CH - 1772 Ponthaux
__________________________

[2018-06-04 07:08] clxadmin commented on #416
Hello,

I'll test the modules with https://qr-validation.iso-payments.ch :-)

Still have no module V10 for download.  Is it possible you place it to your prism repo https://github.com/Prisme-Solutions-Informatique-SA/PRISME-ODOO ?

that would be very nice and I thank you

[2018-06-04 14:46] giordano-ch commented on #416
@clxadmin I think you have to change the branch to 10.0 then you'll find it (prisme_invoice_iban_qrcode)

[2018-06-04 22:01] Guisolan commented on #416
Hello,

My collegue told me that our dev is online into branch 10.0 (you have to
select this branch to reach it).
Direct access is:
https://github.com/Prisme-Solutions-Informatique-SA/PRISME-ODOO/tree/10.0/prisme_invoice_iban_qrcode

Best regards.

_________________________________________________________

Web: www.prisme.ch
Portable: +41 79 230 54 70
Claude Guisolan
Prisme Solutions Informatique

[2018-06-05 06:39] clxadmin commented on #416
I finally found the module -- I thank you

[2018-06-12 13:09] MaxyMoos commented on #355
Hi everyone,

Not sure this is the best place to post this, feel free to redirect me if there's a more relevant thread.

I'm currently working on porting `l10n_ch_scan_bvr`, but this ported module makes use of the field `isr_adherent_num` from the model `res.partner.bank`, which is declared in the module `l10n_ch_base_bank` but is **not** added to the default form view in this module.
According to

[2018-06-15 12:47] yvaucher commented on #355
Hello @MaxyMoos ,

With the removal of `l10n_ch_payment_slip` we can add it in the view of `l10n_ch_base_bank`. While it would be of no use without `l10n_ch_scan_bvr` it would be a mess if each module added it the view.

Nevertheless, something can be done to hide it by default and show it if `l10n_ch_scan_bvr` or any other module using it is installed. It would be to add a security group on it in

[2018-06-18 13:09] thomich commented on #412
Hello

InstrId is recommended and also Mandatory by Basler Kantonalbank, else they reject the payment.
Check also https://www.six-interbank-clearing.com/dam/downloads/de/standardization/iso/swiss-recommendations/implementation-guidelines-ct.pdf on page 31, definition of InstrId.

Thanks for updating it..

Regards
thomi

[2018-06-18 14:18] thomich commented on #412
Hello

reading and testing around and that would be my solution:
![image](https://user-images.githubusercontent.com/4398840/41541649-3dbb2968-7313-11e8-9327-bbe129965b41.png)

what others think?
thomi

[2018-07-04 09:09] yvaucher commented on #416
@Guisolan Thank you for the link!

You might want to specify the licence in the module `__manifest__.py` file. Which should be AGPL as the modules depends on `l10n_ch_payment_slip`.

Talking about `l10n_ch_payment_slip`
For v11, I must state that I first thought the official ISR report in Odoo core would be enough, but it doesn't cover all needs.

Thus, at first we abandoned the idea of porting `l

[2018-07-04 13:16] robertrottermann commented on #416
We are in the process to create a report for the iso20022 qrcode invoice. It will be for V9.
What we did so far is based on the v9 Paymentslip module
Tomorrow I will discuss with my team how to proceed.

[2018-07-05 09:19] robertrottermann commented on #416
According to SIX the QR code will only be mandatory  June 30th 2020
So there is no immediate hurry to provide it.
This Info I just got by a customer that is very close to SIX.

[2018-07-24 08:19] pegonzalezs commented on #416
Dear @robertrottermann @yvaucher
my company needs this functionality for v9, so I would like to contribute on this backport. So, we keep us posted about it.
Thank you

[2018-07-24 09:20] Guisolan commented on #416
Salut David,
Est-ce que tu comprends cette demande?
Ciao et merci pour ton feedback

Envoyé depuis IBM Verse

   Pedro Evaristo Gonzalez Sanchez --- Re: [OCA/l10n-switzerland] Swiss QR Bill/Invoice 2019 (#416) ---
    De :"Pedro Evaristo Gonzalez Sanchez" <notifications@github.com>A :"OCA/l10n-switzerland" <l10n-switzerland@noreply.github.com>Cc :"Guisolan" <cg@prisme.ch>, "Mention" <mention@norep

[2018-08-27 08:14] MaxyMoos opened #439 "[11.0] l10n_ch_base_bank : 5-digit account number automatically sets partner bank to 'postal' even for non-Swiss customers/banks"
How to reproduce:

- Install _l10n_ch_base_bank_ and _l10n_ch_bank_
- In Accounting, create a new Customer from a foreign country and add a Bank Account to it
- Enter any 5 digit number as the account number

=> The bank account type is automatically set to `postal`, CCP field is set to the 5-digit value and the bank is set to "PostFinance AG".

This is an issue that appears when handling foreign

[2018-09-05 12:29] MaxyMoos opened #440 "[11.0] l10n_ch_payment_slip: "Generate missing terms" fails because README.md contains '\n' characters"
Can be reproduced on http://3337682-11-0-34b777.runbot1.odoo-community.org/

**How to reproduce**
* Have _l10n_ch_payment_slip_ in the list of modules - not necessarily installed
* Go to _Settings_ > _Translations_ > _Generate Missing Terms_ for the English language (need to activate Developer Mode)

**Result**
* An error is thrown after a while :
```AssertionError: Translation terms may not inclu

[2018-09-20 08:17] antonioburic commented on #355
Hi everyone,

@lucode and myself (CoobyTec) will be porting `l10n_ch_hr_payroll` and `l10n_ch_hr_payroll_report` to v11.

[2018-09-27 00:11] OCA-git-bot opened #445 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] l10n_ch_account_tags - @mpanarin  https://github.com/OCA/l10n-switzerland/pull/466
- [ ] l10n_ch_account_reconcile_isr @asaunier  #508
- [x] l10n_ch_bank @Tdu #479
- [ ] l10n_ch_bank_statement_import_postfinance @ecino #565
- [x] l10n_ch_base_bank - @asaunier https://github.com/OCA/l10n-swit

[2018-10-12 09:16] bodi000 commented on #172
Hello,
I would like to use the module **l10n_ch_payment_slip_account_statement_base_completion**. I see it unported, therefore I would like to know if any effort has been already done for this migration, so I will not duplicate the work...

It is not very clear to me what are the plans for its dependency **account_statement_base_completion**: (will it be ported, other module will do the job, else?

[2018-10-16 17:55] bodi000 opened #452 "[9.0] Cannot install l10n_ch_fds_postfinance on Windows Server"
Hello,

While changing the platform from Windows to X is no option for the time being ;), I was not able to get the module working.
I downloaded and copied into the **/server**  folder all the dependencies (src files) that seemed necessary.

I still get the messages like this:
_Impossible d'installer le module "l10n_ch_fds_postfinance" a cause d'une dépendance externe non trouvée: No module named

[2018-10-16 18:06] yvaucher commented on #172
@bodi000 AFAIK There is currently noone working on `l10n_ch_payment_slip_account_statement_base_completion` migration to version 9.0.

For `account_statement_base_completion` you have that PR which removed it in https://github.com/OCA/account-reconcile/pull/137

It moved the feature in `account_statement_base_import`.

AFAIK current version 9.0 should be compatible with the new module without the

[2018-10-24 09:38] bodi000 commented on #452
no suggestion? Thanks

[2018-11-07 15:17] sbidoul commented on #412
Note InstrId is not added by the base module (same value as EndToEndId)

[2018-12-04 15:42] asaunier commented on #355
Hi all
I have just created a PR aiming to migrate ``l10n_ch_import_winbiz``. See https://github.com/OCA/l10n-switzerland/pull/455

[2018-12-28 12:15] anedisi opened #461 "[10.0] pain001 generated file is not valid."
The pain file generated is not valid with six documentation

the generated file has AdrLine and PstCd and when i upload it to postfinance test platrform i get the error.

`The structure of the XML element /Document/CstmrCdtTrfInitn/PmtInf[1]/CdtTrfTxInf[1]/Cdtr/PstlAdr is not valid.
    Error message:
        Structured address data should not be used together with unstructured data.
    Error cod

[2019-01-04 15:11] yvaucher commented on #355
@asaunier Thanks, I added it to the list

[2019-01-23 10:21] Martronic-SA opened #462 "[10.0][9.0] impossible to duplicate invoice with bvr reference"
This is not possible to duplicate a supplier invoice if the bvr reference type is set to bvr because the reference field is not copied to the new invoice but it's required if reference type is bvr.
It will throw the exception 'BVR/ESR Reference is required'
possible fix would be to make a custom copy_data method and force the copy of the reference or change the reference type.

[2019-01-23 21:32] tm-up commented on #461
I ran into the same using odoo 11. Odoo 8 emitted "StrtNm" instead of "AdrLine", which was compatible with SIX.
What I did: I've changed the tag 'AdrLine' to 'StrtNm' and moved the corresponding if-block up to  line 3 (before the "if gen_args...."). That fixed the issue. However, it might break things for non-swiss users...

[2019-01-29 10:29] didierdonze commented on #416
Hello,
Any updates in this thread? Did someone open a PR to migrate the Prisme module to V11?

[2019-01-29 10:34] Guisolan commented on #416
Hello,

Unfortunatelly no for short time.

We plan to migrate all Prisme dev from v10 to v11 and from v11 to 12 in Q4
2019.

Reason
- we plan to hire 1 ressource in september 2019
- we estimate that in Q4-2019 we can deliver

Best regards.
_________________________________________________________

Web: www.prisme.ch
Portable: +41 79 230 54 70
Claude Guisolan
Prisme Solutions Informatique SA
Rte de

[2019-01-31 09:47] didierdonze commented on #416
Hi,
Some news on the subject. Odoo did developp the feature in V12:
https://github.com/odoo/odoo/commit/68dafa0620fb8e36c9a1a58da0668bede2c3699b
It's hidden for the moment, but can be teste
![image](https://user-images.githubusercontent.com/5780150/52045806-8d978780-2545-11e9-8a4c-b18d7574b607.png)
d.

The slip is missing for the moment. I guess no need to develop a community module in V12, for th

[2019-01-31 10:27] Guisolan commented on #416
Hello,

Yes it is done with ODOO12 because
- we have send the code from our ODOO 10 development to Quentin De Paoli
(who is the ODOO product manager from accounting and localisation)
- at this time Quentin never ask us to help him to check his integration

Best regards.
_________________________________________________________

Web: www.prisme.ch
Portable: +41 79 230 54 70
Claude Guisolan
Prisme S

[2019-02-04 11:18] peter2018abc commented on #302
is importing of camt.054 files from PostFinance possible in odoo11?

[2019-02-08 07:47] fclementic2c opened #464 "l10n_ch_account_tags do not contain the correct account ids"
This module adds up tags to account (from l10n_ch module) using the id (ie: ch_coa_1091).
However, when I install l10n_ch on Odoo 11ce (I did not try other versions) I notice that the ids looks like
1_ch_coa_1091.
Odoo seems to add the company id (1 in my example) as a prefix so the link cannot work anymore and this module becomes useless since tags are not added to accounts.

Rq: this is mainly u

[2019-02-08 08:34] fclementic2c commented on #464
I add that we should also change the data file from XML to CSV to comply with odoo philosophy: https://github.com/odoo/odoo/pull/28888/files

[2019-02-08 16:41] asaunier commented on #445
PR migrating ``l10n_ch_pain_credit_transfer``, ``l10n_ch_pain_base`` and ``l10n_ch_base_bank`` is available at https://github.com/OCA/l10n-switzerland/pull/465

[2019-03-11 14:02] i-vyshnevska commented on #445
migrating l10n_ch_states and l10n_ch_zip in https://github.com/OCA/l10n-switzerland/pull/468

[2019-03-11 14:03] i-vyshnevska commented on #445
migration l10n_ch_payment_slip in https://github.com/OCA/l10n-switzerland/pull/470

[2019-03-11 14:04] i-vyshnevska commented on #445
by @mpanarin :)

[2019-03-11 14:13] yvaucher commented on #445
Thanks I just figured out.

[2019-03-11 14:16] yvaucher commented on #445
added l10n_ch_account_tags by @mpanarin #466

[2019-03-11 17:40] i-vyshnevska commented on #445
l10n_ch_mis_reports   by @mpanarin  https://github.com/OCA/l10n-switzerland/pull/466

[2019-03-12 10:50] jmburri opened #473 "Import file .v11: error "AttributeError: 'bool' object has no attribute 'id'."
![v11_error](https://user-images.githubusercontent.com/34301568/54194660-0b43a100-44bd-11e9-9dde-aa822e3a4410.png)
Hello,

I have a problem when I import .v11 files. Sometimes, when a line of file match with an invoice which is already paid, I have the following error: Import file .v11: error "AttributeError: 'bool' ofject has no attribute 'id'.

Maybe someone may help me ?

Thanks in advance.

[2019-03-14 13:33] clxadmin commented on #416
Hello,

Yes, looks like its only available for 12 Enterprise
![Screenshot - 2019-03-14T143134 986](https://user-images.githubusercontent.com/9445285/54360846-11c14c80-4666-11e9-94a0-4b20071a84cf.png)

[2019-03-22 14:20] sbidoul opened #478 "[11.0] broken fr.po"
Error detected by weblate:

[code]

[2019-03-22 14:21] sbidoul commented on #478
And there is a similar issue in it.po.

[2019-03-26 08:42] ecino opened #480 "[10.0] Cannot compute the Payment Information Identification"
Hello @p-tombez @yvaucher . Since the merge of #408, we have crashes on our database when generating pain files. It seems that when evaluating the `payment_info_ident` variable, both values `optional_args` and `category_purpose` are not present in the `eval_context` and this is crashing the operation. Can I ask why is this inheritance overriding completely the `payment_info_ident`? I have the feel

[2019-04-17 13:45] yvaucher commented on #416
@clxadmin the option in enterprise is **not** the Swiss QR Code

SEPA QR Code != Swiss QR code invoice

Currently the report is in Odoo Community core

You can see the xml file that defines the addition to the invoice report here:
https://github.com/odoo/odoo/blob/12.0/addons/l10n_ch/report/swissqr_report.xml

You can activate it by adding an `ir.config_parameter` named : `l10n_ch.print_qrcode`

[2019-04-23 15:34] leemannd commented on #478
@sbidoul @yvaucher I've opened a PR to address it.

[2019-04-24 14:33] leemannd commented on #464
Adressed in https://github.com/OCA/l10n-switzerland/pull/489

[2019-04-24 14:33] leemannd commented on #478
Pr Merged. Can be closed

[2019-06-05 08:41] guewen opened #496 "l10n_ch_zip obsolete?"
Some facts:

* l10n_ch_zip is based on a hardcoded data file extracted from files published by post.ch which seems to not exist anymore (https://github.com/OCA/l10n-switzerland/blob/b6af23651744e1e1cbc3e128952b9e269103d3f4/l10n_ch_zip/models/city_zip.py#L10-L14)
* [base_location_geonames_import](https://github.com/OCA/partner-contact/tree/11.0/base_location_geonames_import) does a better job at im

[2019-06-11 14:39] yvaucher commented on #480
@ecino indeed #408 requires changes introducted in https://github.com/OCA/bank-payment/pull/462

You need to upgrade your version of account_banking_sepa_credit_transfer.

[2019-08-27 10:15] yvaucher commented on #496
Never saw a use for the specific fields. It sound a good idea to me to remove l10n_ch_zip and relies only on base_location_geonames_import.

[2019-08-27 10:15] #478 closed, assigned to nobody

[2019-08-27 10:15] #464 closed, assigned to nobody

[2019-08-27 10:25] yvaucher commented on #473
@jmburri this seems a very old version of import v11 module (OpenERP 7.0?). The error suggests it doesn't find an account.

https://github.com/OCA/l10n-switzerland/blob/7.0/l10n_ch_payment_slip/wizard/bvr_import.py#L196

Your partners are probably missing a value in `property_account_payable` or `property_account_receivable`

You could propose a patch to deal better with a case of missing value in

[2019-08-27 10:32] #473 closed, assigned to nobody

[2019-08-27 10:33] yvaucher commented on #452
@bodi000 your error was a missing python dependency. You just had to install pysftp python library on your system. I wouldn't recommand using Windows server. Maybe you should use Docker on your windows server to work on a debian or ubuntu base which is more likely to work.

I cannot make support for Windows Server all tests we do with the travis CI is based on Ubuntu thus I'll close this.

[2019-08-27 10:33] #452 closed, assigned to nobody

[2019-08-27 10:36] yvaucher commented on #416
Some news about QR-Invoice here is a PR on master which should improve it's launching on 20th of June 2020.

https://github.com/odoo/odoo/pull/35931

[2019-08-27 10:39] yvaucher commented on #416
Changed the date in the title for QR Invoice launch according to http://qr-bill.ch

[2019-08-27 10:44] yvaucher commented on #440
PO file have been regenerated since them. -> closing this issue

Thanks

[2019-08-27 10:44] #440 closed, assigned to nobody

[2019-08-27 10:47] yvaucher commented on #269
We use Weblate now, this fixed the issue and I removed the files manually in newer branches.

[2019-08-27 10:47] #269 closed, assigned to nobody

[2019-08-27 10:56] yvaucher commented on #461
This was fixed in
[10.0] https://github.com/OCA/l10n-switzerland/pull/477
[11.0] https://github.com/OCA/l10n-switzerland/pull/483

[2019-08-27 10:56] #461 closed, assigned to nobody

[2019-08-29 13:16] giordano-ch opened #507 "[12.0] SEPA Credit Transfer <PstCd> and <TwnNm> are not compatible with swiss banks"
In version 12 of l10n_ch_pain_credit_transfer <PstCd> and <TwnNm> are always generated in the XML File.

According to UBS testplatform, the concurrent use of PstCd/TwnNm with the unstructured element AdrLine is not allowed.
![image](https://user-images.githubusercontent.com/15436224/63943145-5c495080-ca6f-11e9-87b5-4a71daecc790.png)

We have tested this with various swiss banks such as UBS, Credit

[2019-08-29 13:58] diezcode commented on #507
seems that this issue is fixed in odoo11 ?? any information about this?

[2019-08-30 11:26] yvaucher commented on #507
We should be using AdrLine instead.

This was fixed for odoo11 in https://github.com/OCA/bank-payment/pull/583/files

With the following change for l10n_ch:

https://github.com/OCA/l10n-switzerland/blob/11.0/l10n_ch_pain_base/models/account_payment_order.py#L107-L129

I just cherry-picked those 2 commits into 12.0

https://github.com/OCA/l10n-switzerland/commit/4cab9412bc241a85ab0ecc5fe70be185e621

[2019-08-30 11:32] yvaucher commented on #507
Seems the cherry-pick don't have any effect it seems https://github.com/OCA/bank-payment/pull/583/files didn't make it into 12.0 branch of bank-payment.

Will propose a PR for that as well.

[2019-08-30 11:39] yvaucher commented on #507
PR for bank-payment made here: https://github.com/OCA/bank-payment/pull/627

@giordano-ch
So you need to patch your 'bank-payment` plus pull last version of this repository.

[2019-09-02 14:46] asaunier commented on #445
l10n_ch_account_reconcile_isr https://github.com/OCA/l10n-switzerland/pull/508

[2019-09-08 18:18] rgl1234 opened #511 "Allow duplicate account-Nr for Swiss payment-slip?"
Hello
We often have the situation, that swiss payment-slip use the same postal-account-nr for different customers. When we try to create a payment like that, Odoo generates an error, because by default it is not allowed to have the duplicate of account-nrs....account-nr has to be unique per default what is not the case always with swiss payment-slip.
How can this be solved?
Should maybe the constr

[2019-09-10 08:00] yvaucher commented on #511
Hello @rgl1234,

This occures in case of ISR-B, when multiple of your suppliers or customers (for refund) are at the same bank. Thus they provide you the same postal account number.

In version til Odoo 11.0 You want to have the module `l10n_ch_base_bank` installed and handle this by using the field `ccp`.
In version from Odoo 12.0 and later you will have to fill the field `l10n_ch_postal` and set

[2019-09-10 09:01] rgl1234 commented on #511
Thans for your reply.
I understand...So is it the same in V11 and V12 that the value of "acc_number" is not relevant in those cases?

[2019-09-19 08:26] giordano-ch commented on #507
@yvaucher thanks for quick feedback. Is this issue fixed now?
I pulled the newest repository 'l10n_ch' and 'bank_payment' but the Tags <PstCd> and <TwnNm> are still generated

[2019-09-20 08:32] rgl1234 commented on #511
Hello @yvaucher
I just tested it on V12. When I set to "acc-number" field to whatever I want,  the field "l10n_ch_postal" always changes automatically to that value and field "acc_type" back from "postal" to "bank". Then I could change "l10n_ch_postal" back to the correct postal-value but still "acc_type" remains on "bank".
So this seems to be confusing for me....
Or am I understanding something w

[2019-09-20 09:01] rgl1234 commented on #511
I also tried to generate Payment-XML in V12-online but receive error-messages because of not recognized IBAN. So it seems not to work if "acc_type" is <> "postal" because value in XML is coming from "acc_number" and not from "l10n_ch_postal".
Is this maybe a general problem in l10n_switzerland?

[2019-09-29 21:40] OCA-git-bot opened #514 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] l10n_ch_account_tags @i-vyshnevska https://github.com/OCA/l10n-switzerland/pull/515
- [ ] l10n_ch_bank :warning: see below
- [ ] l10n_ch_base_bank @i-vyshnevska #516 -> rework @yvaucher #550
- [ ] ~l10n_ch_dta~ deprecated
- [ ] ~l10n_ch_import_isr_v11~ deprecated
- [x] l10n_ch_isr_payment_gr

[2019-09-30 14:15] yvaucher commented on #507
@giordano-ch OCA/bank-payment#627 was merged 6 days ago, please retry :)

[2019-10-02 14:15] yvaucher commented on #514
l10n_ch_zip will be deprecated in favor of base_location_geonames_import see https://github.com/OCA/l10n-switzerland/issues/496

[2019-10-02 14:53] yvaucher commented on #511
@rgl1234 The issue with the onchange on acc_number comes from odoo core. I have disabled this behavior with last changes in l10n_ch_base_bank:
https://github.com/OCA/l10n-switzerland/blob/12.0/l10n_ch_base_bank/models/bank.py#L209-L211

I also created a fix for that on odoo master branch:
https://github.com/odoo/odoo/pull/35979

[2019-10-11 10:08] robertrottermann opened #519 "Migrating Module 'l10n_ch_bank', 'l10n_ch_pain_credit_transfer', 'l10n_ch_payment_slip'"
We started to Migrate:
'l10n_ch_bank',
 'l10n_ch_pain_credit_transfer',
 'l10n_ch_payment_slip'

robert

[2019-10-11 10:30] pegonzalezspesol commented on #514
Hi @yvaucher .. migrating l10n_ch_states #520

[2019-10-11 11:14] yvaucher commented on #519
@robertrottermann please use the issue #514

[2019-10-11 11:14] #519 closed, assigned to nobody

[2019-10-11 11:23] yvaucher commented on #514
@pegonzalezspesol thanks, added

[2019-10-11 11:35] yvaucher commented on #514
@robertrottermann following the issue you created #519

Please see my comments on l10n_ch_payment_slip and l10n_ch_bank in the first post of this thread.

[2019-10-14 06:48] ecino commented on #355
import_postfinance module, which adds reading the .tar.gz archives and pictures of payment slips is migrated with this PR: https://github.com/OCA/l10n-switzerland/pull/500

[2019-10-24 15:40] Martronic-SA commented on #445
What about l10n_ch_scan_bvr (missing in the list)?
@yvaucher ?

[2019-10-25 13:48] yvaucher commented on #445
@Martronic-SA I guess we are stuck in the past with it

https://github.com/OCA/l10n-switzerland/pull/447 (open PR on v10)

I'll add it to the list

[2019-10-25 13:56] Martronic-SA commented on #445
@yvaucher ok we really need to fix that for 10.0 and 11.0 and then port the same behavior to 12.0 knowing that fields are a bit diffrent in 12.0 with l10n_ch_isr_subscription_x and l10n_ch_isrb_id_number to take into account (along with ccp -> l10n_ch_postal)

[2019-10-25 13:57] yvaucher commented on #445
`l10n_ch_scan_bvr` could be renamed `l10n_ch_scan_isr`. And in Mid 2020 we will need a replacement based on QR-Invoice. Don't know if many suppliers will provide the swico standard for the additional information, could help to create facture as it is done in l10n_ch_scan_bvr.

[2019-11-12 09:29] Martronic-SA opened #528 "l10n_ch_base_bank should not depend on l10n_ch"
a swiss company may have a completely different accounting plan than the default l10n_ch but still need the swiss banks.
if l10n_ch_base_bank is not really technically depending on l10n_ch, that dependency should be removed from the manifest file.

[2019-11-12 10:38] yvaucher commented on #528
@Martronic-SA Issue is that the Odoo core module now includes more than the Chart of account.

Your assertion was true for version <12.0

https://github.com/odoo/odoo/blob/91560fae56f1cba09141eefa1d0da03f4a7b3f72/addons/l10n_ch/models/res_bank.py#L26-L36

[2019-11-12 10:51] yvaucher commented on #528
What you want is to avoid to generate automatically the CoA. The template on itself is not an issue.

It's a bit tricky but possible to avoid Odoo to install automatically the CoA from the template on module's installation.

What you can do is to create a single account.account on your company. Before installing l10n_ch. It will consider you already have a CoA installed and won't copy the template

[2019-11-12 13:16] Martronic-SA commented on #528
Ok I see. But banks and CoA might (should?) have been added in two separate modules as long as they concern two different things not linked together (except that they are both for Switzerland).
In my particular case I just wanted to uninstall the swiss CoA but keep swiss banks.

[2019-11-12 13:27] yvaucher commented on #528
I know, Odoo have been a bit un-flexible about it due to their stable policy, you can try to contact them about this but they will most likely change nothing before Odoo 14.0.

[2019-11-12 13:30] Martronic-SA commented on #528
Yes I understand that it's difficult to change now that te module l10n_ch has been published like that.
I keep that issue open for the moment as so we can think about it for the future releases.

[2019-11-13 10:23] sebastienhasa opened #529 "Docstring of PaymentSlip._compute_payment_slip_image() is confusing"
On the file `l10n_ch_payment_slip/models/payment_slip.py`, in the class `PaymentSlip`, the method `_compute_payment_slip_image()` docstring say:
  "Draw an us letter format slip in PNG"

But inside this method, the code call the method `_draw_payment_slip()` to draw the payment slip and this method only support PDF for now. So, the method `_compute_payment_slip_image()` did not return a PNG but a

[2019-11-13 11:03] sebastienhasa opened #530 "Add a way to re-use payment slip on a Qweb report"
Actually, `PaymentSlip._draw_payment_slip()`, in `l10n_ch_payment_slip/models/payment_slip.py:828`, only return a finished PDF document.
This prevent payment slip to be include in a standard Qweb report.

It would be great to add a possibility to use a payment slip on a Qweb report.

[2019-11-13 11:21] yvaucher commented on #530
Have you seen module `https://github.com/OCA/l10n-switzerland/tree/12.0/l10n_ch_invoice_with_payment` ?

By the way, note that ISR payment slip will be replaced by QR-invoice in may 2020

[2019-11-13 13:34] sebastienhasa commented on #530
@yvaucher: Thanks. :)

After looking at the code of `l10n_ch_invoice_with_payment`, when you render the report "Invoice with payment slip", the code simply render the invoice and the payment slip, then merge it with `merge_pdf_in_memory()`.
This method is added to the model `ir.actions.report` at `l10n_ch_payment_slip/report/ir_action.py:L151`.

So, if someone need to add a payment slip on a Qweb

[2019-11-23 14:03] robertrottermann commented on #514
work in progress modul l10n_ch_pain_credit_transfer #534

[2020-01-21 10:32] oco-odoo commented on #416
I'm currently refactoring QR codes in master (so, Swiss ones as well). In the meantime, I'll update the implementation to match the latest version of the specification. Once it's done, I'll do the same in stable releases.

I'll probably have a few questions in the upcoming days, so that were sure to cover all the different use cases, so stay tuned ;)

[2020-02-04 13:43] #507 closed, assigned to nobody

[2020-02-06 18:29] yvaucher commented on #416
This one deserved to be pinned

[2020-02-06 18:32] #412 closed, assigned to nobody

[2020-02-06 18:37] yvaucher commented on #439
Have you worked around this issue in the (long) mean time?

It was originally intended. As the 5 digits number is an old valid format:

https://github.com/OCA/l10n-switzerland/blob/11.0/l10n_ch_base_bank/models/bank.py#L41

IMO we can remove it.

EDIT: in version 12.0 we already removed it.

[2020-02-06 18:42] #358 closed, assigned to nobody

[2020-02-06 18:43] #389 closed, assigned to nobody

[2020-02-06 18:47] yvaucher commented on #376
For versions version 11.0 and older, when your suppliers gives you an ISR-B, the ccp (postal account number) must be filled at the Bank level (res.bank).

For later version use the `l10n_ch_postal` field on `res.partner.bank`.

[2020-02-06 18:47] #376 closed, assigned to nobody

[2020-02-07 10:50] oco-odoo commented on #416
@yvaucher You don't say! (and your timing is impeccable :) )

I have finished refactoring the QR codes. It's still only the first version of the code and hasn't been reviewed in any way yet, but you can already test the Swiss part of it if you want :) Branch is called master-qr-code-refact-oco ; it is accessible on runbot as well.

Community PR: https://github.com/odoo/odoo/pull/44839
Enterprise P

[2020-02-16 14:20] pegonzalezsredcor commented on #514
work in progress module _l10n_ch_pain_base_ #541

[2020-02-27 08:30] ecino commented on #355
l10n_ch_pain_direct_debit is here : https://github.com/OCA/l10n-switzerland/pull/536

[2020-03-10 10:14] houssine78 opened #543 "[11] align l10n_ch_payment_slip 11 on 12"
Hi there !

I'm wondering what is the best way to align code of l10n_ch_payment_slip 11 from the 12 after the change brought by this [PR](https://github.com/OCA/l10n-switzerland/pull/510).

The other changes has been done on 12 without being backported.

My first tought is to backport the actual version of 12 and propose it on 11 overriding the actual version on 11. But maybe I'm missing something

[2020-03-20 17:26] treviser commented on #445
Why are the payroll modules missing in this list?

[2020-04-23 14:14] philhug commented on #445
l10n_ch_fds_postfinance #545
l10n_ch_import_pain002 #546
l10n_ch_fds_upload_sepa #548

[2020-04-23 14:43] philhug commented on #396
I think the best solution would be to include the public key into the package. Makes it work out of the box.

[2020-04-28 11:49] stevech091 commented on #416
Hello,
did someone done a V8 version of QR invoices module?
Thanks

[2020-05-04 11:52] yvaucher commented on #445
@treviser If a module is missing in the list it is most likely because when this list was created the module wasn't available in version 11.0

[2020-05-06 14:45] treviser commented on #445
@yvaucher Thanks for your reply, but I'm well aware that it was available in Version 11.0, because I'm using it for several clients :-)
https://github.com/OCA/l10n-switzerland/tree/11.0/l10n_ch_hr_payroll

[2020-05-08 09:46] SimoRubi commented on #416
Hi all,
first: BIG thanks for all your work in swiss localization.
I see (https://github.com/OCA/l10n-switzerland/issues/416#issuecomment-583337874) you implemented this change in `master` branch for Odoo so they will make it available for supported versions, but what about unsupported versions?

For instance:
- v10: prisme's module has been removed by https://github.com/Prisme-Solutions-Informati

[2020-05-15 15:45] yvaucher commented on #416
@stevech091 @SimoRubi for older version there is no rush to replace ISR by QR-Bill, the ISR will be still supported till 2022. Both will be accepted in parallel.

I don't know of any module that does it for older Odoo versions to generate invoices.

As QR-Bill are basically an IBAN (QR IBAN) and a structured reference (QRR). You should also be able to already receive such invoices.

QR-Bills are m

[2020-05-15 15:52] yvaucher commented on #445
What I mean is that:

on Sep 27, 2018 this issue was created with the modules present on v11 (at that time l10n_ch_hr_payroll was missing
on Aug 27, 2019 #442 was finally merged

And noone took the time to notice it in this Issue til you did :) . Would be great to have our @OCA-git-bot  do that for us.

I'll do it now, I though I had already done it.

[2020-06-15 14:04] davidwul commented on #416
From what I see, all of this is for outgoing payment. (customer bills)
Regarding in payment (vendor bills): using pain001 (with l10n_ch_pain_credit_transfer). It seems this is not yet ready.
Is odoo SA willing to make this work? Or should we provide the necessary changes (in the l10n_ch_pain_credit_transfer OCA module)
Any idea, or suggestion?

[2020-06-15 14:22] pegonzalezs commented on #416
Hi @davidwul,

thanks for your question. Me and Robert Rotterman are waiting to have the
dependencies already finished to continue our work.

Maybe Yannick can provide us some feedback to know if we need to wait till
l10n_ch_base_bank is finished and also about other suggestions or
recommendations

Greetings
Pedro

El lun., 15 jun. 2020 a las 16:04, davidwul (<notifications@github.com>)
escribió:

[2020-06-15 14:40] davidwul commented on #416
Do you mean, changes should be done by Odoo and will end up in l10n_ch_base_bank ?
Will this be done for 13 and for 12 ?

[2020-06-16 20:11] yvaucher commented on #416
I spend some time this week reviewing the official QR invoice in V13.

Here are my findings and fixes:

https://github.com/odoo/odoo/pull/53084

Before:

![qr-bill-anotations](https://user-images.githubusercontent.com/4158438/84823391-8976e780-b01e-11ea-86f9-33db28cc4624.png)

After:

![2020-06-16-212105_1099x559_scrot](https://user-images.githubusercontent.com/4158438/84823412-9398e600-b01e-11ea-

[2020-06-16 20:17] yvaucher commented on #416
@davidwul SEPA is a bit out of scope of this issue. So in short Odoo has an enterprise addon for it, they won't contribute to the OCA module l10n_ch_pain_credit_transfer. Their enterprise addon `account_sepa` is not fully implemented for Swiss SEPA nevertheless. You might create a new issue about it for more details.

[2020-06-16 20:20] yvaucher commented on #416
@pegonzalezs The aim is to integrate all `l10n_ch_base_bank` vital features into offical `l10n_ch`. Please see this mail on the mailing list: https://odoo-community.org/groups/switzerland-29/switzerland-162989

[2020-06-16 20:40] yvaucher commented on #543
@houssine78 late answer on this. But you might be interested that I currently have an intern demand to backport Swiss QR to v10. From there it should be a piece of cake to migrate it either to version 9.0 or version 11.0.

`l10n_ch_payment_slip` will slowly but surely be deprecated. I have no will to continue it's support.

`l10n_ch_payment_slip` have had multiple refactor and might be quite diffe

[2020-06-22 14:55] yvaucher commented on #416
Here is a backport for version 10.0 of the QR-bill based on the one made by Odoo

https://github.com/OCA/l10n-switzerland/pull/552

[2020-06-24 10:12] yvaucher commented on #416
New update:

1. Fixes for the official QR-bill report are about to be merged in the core: https://github.com/odoo/odoo/pull/53084
2. Here you will find a new module PR to import QR-bill with a PayEye scanner. #553 It will also support importing PDF files soon.

[2020-07-08 10:50] brusly08 opened #554 "[11] remaining amount not write on ISR"
Hello,
 When I have invoice with a partial payment, how can I print a new ISR with the remaining amount and not the total amount ?
Best regards,
Brusly

[2020-07-16 13:47] yvaucher commented on #543
Swiss QR-bill has been merged here: https://github.com/OCA/l10n-switzerland/tree/10.0/l10n_ch_qr_bill

For v11 it needs to be ported
For v12 we have to wait on Odoo to finalize it: https://github.com/odoo/odoo/pull/54427

[2020-07-16 13:49] yvaucher commented on #554
Hello @brusly08 ,

Can you state which version of Odoo you use and if you use l10n_ch official ISR or l10n_ch_payment_slip ?

Be also advised that since the 30th of June you can use Swiss QR-bill instead.

For v10:  https://github.com/OCA/l10n-switzerland/tree/10.0/l10n_ch_qr_bill
For v11 it needs to be ported
For v12 we have to wait on Odoo to finalize it: odoo/odoo#54427
For v13 it is available

[2020-07-16 13:52] yvaucher commented on #416
New update on Swiss QR-bill generation:

For v10: https://github.com/OCA/l10n-switzerland/tree/10.0/l10n_ch_qr_bill
For v11 it needs to be ported and hosted in OCA/l10n-switzerland (from v10 as it already makes the module separately)
For v12 we have to wait on Odoo to finalize it: odoo/odoo#54427
For v13 it is available in `l10n_ch` with 2 ongoing fixes for margin issues https://github.com/odoo/od

[2020-07-16 14:14] yvaucher commented on #416
@robertrottermann you mentioned the version 9.0 right? any news about it? Do you want to go with your version or try to backport the v10 backport?

@Guisolan about the version for 10.0, you mentioned it 2 years ago (forgot about it and now I assume you didn't wanted to contribute to the OCA), with the time I spent fixing the official one I choose to backport the one from Odoo, I honestly don't kno

[2020-07-16 15:07] Guisolan commented on #416
Hello Yannick,

Regarding Swiss QR Bill finally we have develop it at v10, v11, v12.
Our dev was validated with La Poste and UBS.
We manage the reference field (27 char).

This dev is available at apps.odoo.com (search under qr-bill).
We sold you dev because we have develop each ODOO version (10, 11, 12).

We don't have develop v13 because QR-Bill is deliver within l10n_ch.

We know 2 problems wit

[2020-07-16 15:34] houssine78 commented on #543
Hi @yvaucher so far we patched the l10n_ch_payment_slip but we'll have a look at the QR Bill for sure in a not that near futur.

Thanks a lot !

[2020-07-20 13:33] Martronic-SA commented on #416
@Guisolan

module to do it) meanwhile that OCA enhance this point

Is that related to that issue? https://github.com/OCA/bank-payment/issues/720

[2020-07-20 14:03] Guisolan commented on #416
Hello,

Our module build automatically the bank reference field when customer
invoice is validated.

Best regards.
_________________________________________________________

Web: www.prisme.ch
Portable: +41 79 230 54 70
Claude Guisolan
Prisme Solutions Informatique SA
Rte de Montagny 11
CH - 1772 Ponthaux
_________________________________________________________

From:   "Martronic SA" <notificati

[2020-07-20 16:28] yvaucher commented on #416
@Guisolan

Well sort of, I'm well aware of this as I gave insights and proposed patches to Odoo team to fix it in v13 and spent hours on this. As explained in previous comments. Now It's pretty decent. Will see, soon, if there are still few glitches.

Be aware that Odoo is backporting the report to v12 in `l10n_ch`. Should work for your module if you keep the official report hidden. (should still

[2020-07-22 15:20] SimoRubi commented on #416
Update for v12: https://github.com/odoo/odoo/pull/54427 is merged :tada:

[2020-07-23 11:58] thomich commented on #416
testing around on Odoo 10 with l10n_ch_qr_bill:

duplicate partner_bank_id in invoice/other info:
https://github.com/OCA/l10n-switzerland/blob/10.0/l10n_ch_qr_bill/views/account_invoice_view.xml#L16

results in:
![image](https://user-images.githubusercontent.com/4398840/88283833-842b4d80-ccec-11ea-807b-b816f7271346.png)

[2020-07-24 13:56] yvaucher commented on #416
@thomich AFAIK the field `partner_bank_id` is invisible in Odoo CE. So we have to change that to make it visible instead of adding the field a second time. In your case you see twice the field maybe because an other module already makes the field visible?

In any case you are right it's a bug even with an invisible field.

https://github.com/odoo/odoo/blob/10.0/addons/account/views/account_invoice

[2020-07-24 14:12] yvaucher commented on #416
@thomich review welcome on https://github.com/OCA/l10n-switzerland/pull/555

It should fix the partner bank field issue.

[2020-07-27 06:25] thomich commented on #416
hey @yvaucher
thanks... looks great

another question...
it will generate a new QRR (reference) which is the uid used for the payment of the customer, right?
with ISR (BVR) we also have a ref which is in bank camt file we import to reconcile invoice moves.
has the camt import method also changed as we have new QRR and field for QRR is l10n_ch_qrr / l10n_ch_qrr_spaced.

Thanks for clearify.

Regard

[2020-07-27 09:18] yvaucher commented on #416
@thomich yes the QRR becomes the new payment reference. It's intentionally the same format as the ISR (27 chars).

Reconciliation must be done on it. It should already work on v12 and v13. The point you raise looks to me that in v10 we probably still need to copy it on the transaction_id field. Which means we are missing an additional module.

BTW, be aware that a QR-IBAN is usually an alias for a

[2020-07-28 06:33] thomich commented on #416
hey @yvaucher

thanks for reply...

:+1:

means that in v10 special method will be made to copy QRR to transaction_id?

yeah... it is really confusing... also for our customers...

one other thing i found:
if you print the QR-Invoice, it will not give any file extension, which can cause problems on some client systems.
it's a PDF, but with out .pdf extension..

regards
thomi

[2020-07-28 14:23] yvaucher commented on #416
@thomich Thank you for the feed back.

Here are 2 PRs that should resolves the following issues:

- reconciliation with `base_transaction_id` #556
- pdf file extension #557

[2020-08-10 06:25] thomich commented on #416
hey @yvaucher

man thanks for your work... tested and looks very nice...
have made the german translation... i know, i could make a PR and so on, but think if you integrate it, it's faster.. ;)

pm me please, then i can send you the de.po file...

again, many thanks
thomi

[2020-08-14 09:25] stevech091 commented on #416
Hello,
I have made italian translation on Weblate.
Regards

[2020-08-14 13:24] yvaucher commented on #416
@thomich the proper way to push translation on OCA modules is through Weblate.

https://translation.odoo-community.org/projects/l10n-switzerland-10-0/

We have a bot that will automate the push on github.
IIRC Weblate suports import a PO file, but it seems deactivated, maybe a translator with enough admin rights can do it if you have numerous terms to translate.

[2020-08-14 13:26] yvaucher commented on #416
@stevech091 Great! Grazie !

[2020-08-17 08:46] thomich commented on #416
Hey @yvaucher

thx, will do that.... will translations then also be ported to other version's? 11, 12, 13?

regards
thomi

[2020-08-17 13:16] yvaucher commented on #416
@thomich for the QR-bill for 12 and 13 it doesn't exists in OCA, it's in odoo CE

You want to have a look at https://github.com/odoo/odoo/wiki/Translations

[2020-08-18 09:24] thomich commented on #416
@yvaucher what about QR-bill and 11.0?

thanks for information about translation, will make it soon ;)

thomi

[2020-08-20 08:15] thomich commented on #416
Hey @yvaucher
have registered @ weblate but can't make translations or even suggest. I also contacted transbot@odoo-community.org but not getting any notification/feedback.

Here is my de.po file.... if you can do it with a PR... would be nice.. and THANKS
[de.tar.gz](https://github.com/OCA/l10n-switzerland/files/5101626/de.tar.gz)

regards
thomi

[2020-09-10 18:14] philhug commented on #416
Is anyone working on adding  Creditor Reference (SCOR) support instead of QRR?
It uses the normal IBAN account number + a standard ISO 11649 reference (starting with RF...) instead of a separate QR-IBAN

https://www.paymentstandards.ch/dam/downloads/ig-qr-bill-en.pdf

[2020-09-15 07:49] yvaucher commented on #416
@philhug the official odoo module does not support Creditor Reference. And I strongly doubt that Odoo will do it any time soon.

On my side I have no ongoing implementation on this topic.
Shouldn't be too complicated to add though. We have to propose that to the official module. In hope they don't only accept it in version 14.0.

[2020-09-16 09:17] yvaucher commented on #416
FYI https://github.com/odoo/odoo/pull/55571 has been merged.

It includes a new module `l10n_ch_qriban` which adds a field on `res.partner.bank` to store the QR-IBAN.
This aims to allows reconciliation using both the IBAN and the QR-IBAN with the in-payments.

cc @thomich

[2020-10-04 10:31] OCA-git-bot opened #564 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] ebill_paynet  By @dzungtran89 #595
- [x] ebill_paynet_customer_free_ref By @kv1612 #624
- [ ] l10n_ch_adr_report By @sonhd91 #628
- [x] l10n_ch_account_tags By @sonhd91 #651
- [x] l10n_ch_invoice_reports By @sonhd91 #620
- [x] l10n_ch_base_bank By @SimoneVagile #590
- [x] l10n_ch_isr_payment

[2020-10-26 12:37] ecino commented on #445
l10n_ch_bank_statement_import_postfinance is here #565

[2020-10-26 12:38] ecino commented on #445
l10n_ch_hr_payroll is here #567

[2020-10-26 12:49] ecino commented on #445
All FDS modules would be here  #570

[2020-11-11 13:28] #543 closed, assigned to nobody

[2020-11-26 00:07] R3D2 commented on #416
Hey ! I tried to migrate the module to V11, it seems to work fine. I'm really new to contributing, I will be glad to have my code reviewed. https://github.com/R3D2/l10n_ch_qr_bill

[2020-11-26 08:57] thomich commented on #416
Hey @R3D2

Thanks for your contribution.

Check license, as i know, it should keep the original license from Odoo 13: LGPL-3
Check if license is everywhere the same ;)

Regards
thomi

[2020-12-08 13:07] yvaucher commented on #416
@R3D2 can you push it as a pull request in this repository on branch 11.0 to allow us to review it ?

[2021-02-28 08:54] dzungtran89 commented on #564
- ebill_paynet: https://github.com/OCA/l10n-switzerland/pull/595
- server_env_ebill_paynet: https://github.com/OCA/l10n-switzerland/pull/596

[2021-04-05 10:02] whotopia commented on #396
I had several issues connecting to fdsbc.post.ch as well.  What worked for me was to

1. Make sure the user Odoo runs as has a home directory with .ssh directory and known_hosts files created with correct permissions contained therein.   I actually copied my public and private certificate files into .ssh folder .  Then tested the sftp connection via  **sftp -i ~/.ssh/YourPrivateKeyFile.ppk user@fd

[2021-04-05 10:06] whotopia commented on #396
So I have been trying to get the CAMT PostFinance import working from within Odoo11 (actually Flectra).   Here I'm having an issue which I think has something to do with new Python 3 coding conventions for lists.   Has anyone else had this issue or can offer a solution???

[code]

I'm also getting errors as follows:

[code]

Help?!?

[2021-06-29 09:13] gfrino commented on #416
We at ticinoWEB have developed module for Odoo v10 https://apps.odoo.com/apps/modules/10.0/invoice_ch_qr_slip/ and a fix for Odoo QR Bill for v14 https://apps.odoo.com/apps/modules/14.0/generate_inv_qr/

The v14 fixes this error: The following error prevented 'Swiss QR bill' QR-code to be generated though it was detected as eligible: When using a QR-IBAN as the destination account of a QR-code, th

[2021-08-28 08:38] whotopia commented on #396
Hi again. I never did manage to resolve this.  Anyone?????     ( Potential consulting gig available to fix)

[2021-09-08 14:39] sonhd91 commented on #564
l10n_ch_account_tags : [#615 ](https://github.com/OCA/l10n-switzerland/pull/615)

[2021-09-30 03:48] sonhd91 commented on #564
Hi, please add `l10n_ch_invoice_reports` to the migrate list

l10n_ch_invoice_reports: [#620 ](https://github.com/OCA/l10n-switzerland/pull/620)

[2021-09-30 09:38] sonhd91 commented on #564
Please add `l10n_ch_isrb` the migrate list too

l10n_ch_isrb: [#621 ](https://github.com/OCA/l10n-switzerland/pull/621)

[2021-10-04 13:59] sonhd91 commented on #564
l10n_ch_isr_payment_grouping: [#622 ](https://github.com/OCA/l10n-switzerland/pull/622)

[2021-10-14 07:51] kv1612 commented on #564
ebill_paynet_customer_free_ref: [#624](https://github.com/OCA/l10n-switzerland/pull/624)

[2021-10-17 10:18] OCA-git-bot opened #626 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] ebill_paynet
- [ ] ebill_paynet_customer_free_ref
- [ ] l10n_ch_account_tags
- [ ] l10n_ch_base_bank
- [ ] l10n_ch_invoice_reports
- [ ] l10n_ch_isrb
- [ ] l10n_ch_states
- [ ] server_env_ebill_paynet

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modul

[2021-10-19 12:17] sonhd91 commented on #564
`l10n_ch_adr_report` : [#628 ](https://github.com/OCA/l10n-switzerland/pull/628)

[2021-11-28 12:20] #43 closed, assigned to nobody

[2021-11-28 12:20] #102 closed, assigned to nbessi

[2021-11-28 12:21] #155 closed, assigned to nobody

[2021-11-28 12:21] #172 closed, assigned to nobody

[2021-11-28 12:21] #201 closed, assigned to nobody

[2021-11-28 12:21] #216 closed, assigned to nobody

[2021-12-05 12:21] #257 closed, assigned to nobody

[2021-12-05 12:21] #271 closed, assigned to nobody

[2021-12-12 12:21] #302 closed, assigned to nobody

[2021-12-12 12:21] #330 closed, assigned to nobody

[2021-12-19 12:22] #355 closed, assigned to nobody

[2021-12-21 07:53] sonhd91 commented on #564
`l10n_ch_fix_isr_reference` : WIP

[2021-12-22 17:50] whotopia commented on #396
Hi.  I was wondering, is there any work going on to port l10n_ch_bank_statement_import_postfinance module to Odoo 14 Community Edition?

[2021-12-24 04:21] hailangvn commented on #564
* Please add `l10n_ch_delivery_carrier_label_quickpac`: https://github.com/OCA/l10n-switzerland/pull/637

[2022-01-07 15:15] SultanOfDawn commented on #564
Hello human..
from : SULTANOFDAWN
Ring Of World one Program today 07/01/2022 .. thanks again..

[2022-01-09 12:23] #388 closed, assigned to nobody

[2022-01-09 12:23] #390 closed, assigned to nobody

[2022-01-16 12:23] #391 closed, assigned to nobody

[2022-01-16 12:23] #393 closed, assigned to nobody

[2022-01-16 12:23] #439 closed, assigned to nobody

[2022-01-23 12:21] #445 closed, assigned to nobody

[2022-01-26 08:42] janikvonrotz opened #645 "l10n_ch_base_bank: Bank account type "qr-iban" does not exist"
In the module `l10n_ch_base_bank` there is this check:

https://github.com/OCA/l10n-switzerland/blob/f98293e709d50ea8b65e5bf670880b0b888d2556/l10n_ch_base_bank/models/invoice.py#L89

This check does not make sense. It should be possible to generate QR-Bills without ISR.

[2022-01-30 12:20] #416 closed, assigned to nobody

[2022-01-30 12:20] #462 closed, assigned to nobody

[2022-02-06 12:20] #480 closed, assigned to nobody

[2022-02-20 12:21] #496 closed, assigned to nobody

[2022-02-27 12:23] #511 closed, assigned to nobody

[2022-02-27 12:23] #514 closed, assigned to nobody

[2022-02-27 12:23] #528 closed, assigned to nobody

[2022-03-06 12:22] #529 closed, assigned to nobody

[2022-03-06 12:22] #530 closed, assigned to nobody

[2022-04-10 12:24] #554 closed, assigned to nobody

[2022-07-01 09:57] sonhd91 commented on #626
`l10n_ch_base_bank`: https://github.com/OCA/l10n-switzerland/pull/659

[2022-07-04 07:39] sonhd91 commented on #626
`l10n_ch_invoice_reports` : https://github.com/OCA/l10n-switzerland/pull/660

[2022-07-05 08:20] sonhd91 commented on #626
`l10n_ch_states` : https://github.com/OCA/l10n-switzerland/pull/661

[2022-07-22 12:45] patrickt-oforce opened #667 "Backport of QR-Iban related module feature"
**Is your feature request related to a problem?**
No the feature isn't related to a problem is a backport of v 12.0 module or feature to use new QR-Iban on v 11.0 using QR-Iban data on payment order

**Describe the solution you'd like**
Backport of v. 120 module and feature to v. 11

**Describe alternatives you've considered**
I've trued to migrate l10n_ch_qr_bill from v10, but that module has som

[2022-07-22 14:14] patrickt-oforce commented on #667
Because PR #662 #663 #665 #666 are interdepent one with another, can be merged into single PR?

[2022-07-31 12:28] #396 closed, assigned to nobody

[2022-09-04 12:31] #645 closed, assigned to nobody

[2022-10-03 16:25] sbidoul opened #678 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] ~~ebill_paynet~~ obsolete
- [ ] ~~ebill_paynet_customer_free_ref~~ obsolete
- [x] l10n_ch_account_tags - By @simoneversienti - #712
- [ ] ~~l10n_ch_base_bank~~ obsolete
- [ ]  l10n_ch_bank - was necessary to have BIC info from banks, BIC is not mandatory anymore
- [ ] l10n_ch_invoice_reports

[2022-11-23 03:17] sonhd91 commented on #678
`l10n_ch_invoice_reports`: wip